- if @box.boxed_items.none?
  %p Use the tabs to search or create a new item.
- @box.boxed_items.each do |item|
  = form_for [@box, item], method: :patch do |f|
    .row
      .col-xs-10
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#item#{item.id}"}
            #{item.generated_name}
          .collapse.in{id: "item#{item.id}"}
            .row
              .col-xs-8
                .form-group
                  = f.label :expiry_date
                  = f.text_field :expiry_date, value: item.expiry_date&.strftime("%Y-%m-%d"), class: "form-control datepickers", id: "boxed-item-#{item.id}"
              .col-xs-4
                .form-group
                  = f.label :quantity
                  = f.number_field :quantity, value: item.quantity, min: 0, class: "form-control"

      .col-xs-2
        = submit_button("Save", "pull-right")
        = delete_button(box_boxed_item_path(@box, item), "Are you sure?", "pull-right")
