.content
  .header
    %h1.page-title Dashboard
    %ul.breadcrumb
      %li
        = link_to index_path do
          Home
      %li.active Dashboard
  .main-content
    - unless current_user.volunteer?
      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#page-stats"} Global Stats (30 Days)
        #page-stats.panel-collapse.panel-body.collapse.in
          .row
            .col-md-2.col-sm-6.col-xs-6
              - new_items = Item.where("created_at > ?", 30.days.ago).count
              - unverified_items = Item.where(verified: false).count
              - unverified_items_30 = Item.where("created_at > ? AND verified IS FALSE", 30.days.ago).count
              - uncategorized_items = Item.where(category: nil).count
              - uncategorized_items_30 = Item.where("created_at > ? AND category_id IS NULL", 30.days.ago).count
              - packed_items = PackedItem.where("created_at > ?", 30.days.ago).count
              - box_count = Box.where("created_at > ?", 30.days.ago).count
              - pallet_count = Pallet.where("created_at > ?", 30.days.ago).count
              %h3.text-center= new_items
              %h5.text-muted.text-center New Items
              %h5.text-center.text-success
                #{sprintf("%0.02f", new_items/Item.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= unverified_items_30
              %h5.text-muted.text-center Unverified Items
              %h5.text-center.text-danger
                - if unverified_items.zero?
                  0.00%
                  %i.fa.fa-level-up-alt
                - else
                  #{sprintf("%0.02f", unverified_items_30/unverified_items.to_f*100)}%
                  %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= uncategorized_items_30
              %h5.text-muted.text-center Uncategorized Items
              %h5.text-center.text-danger
                - if uncategorized_items.zero?
                  0.00%
                  %i.fa.fa-level-up-alt
                - else
                  #{sprintf("%0.02f", uncategorized_items_30/uncategorized_items.to_f*100)}%
                  %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= packed_items
              %h5.text-muted.text-center Packed Items
              %h5.text-center.text-success
                #{sprintf("%0.02f", packed_items/PackedItem.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= box_count
              %h5.text-muted.text-center New Boxes
              %h5.text-center.text-success
                #{sprintf("%0.02f", box_count/Box.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= pallet_count
              %h5.text-muted.text-center New Pallets
              %h5.text-center.text-success
                #{sprintf("%0.02f", pallet_count/Pallet.count.to_f*100)}%
                %i.fa.fa-level-up-alt

    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#leaderboard-stats"} Leaderboard (30 Days)
      #leaderboard-stats.panel-collapse.panel-body.collapse.in
        .row
          .col-xs-12
            %h5.text-muted
              Let There Be Data
              %i.fa.fa-crown
              %em Most Items Created
            = bar_chart({@king_items.first_name => @king_items_count}, max: @items_total, height: "70px", colors: ["#007096"])
          .col-xs-12
            %h5.text-muted
              Industrial-Medical Complex
              %i.fa.fa-crown
              %em Most Packed Items
            = bar_chart({@king_packed.first_name => @king_packed_count}, max: @packed_total, height: "70px", colors: ["#3c763d"])
          .col-xs-12
            %h5.text-muted
              I Don't Work Here, Lady
              %i.fa.fa-crown
              %em Most Uncategorized Items
            = bar_chart({@king_uncategorized.first_name => @king_uncategorized_count}, max: @uncategorized_total, height: "70px", colors: ["#31708f"])
          .col-xs-12
            %h5.text-muted
              Wikipedia Contributor
              %i.fa.fa-crown
              %em Most Verified Items
            = bar_chart({@king_verified.first_name => @king_verified_count}, max: @verified_total, height: "70px", colors: ["#8a6d3b"])
          - unless @random_achievement.nil?
            .col-xs-12
              %h5.text-muted
                = @random_achievement.achievement_title.titleize
                %i.fa.fa-crown
                %em= @random_achievement.achievement_description.titleize
              = bar_chart({@random_achievement.achiever_name => @random_achievement.achievement_value}, max: @random_achievement.achievement_max_value, height: "70px", colors: ["#a94442"])
              %h6.pull-right
                = link_to(user_path(current_user)) do
                  Award someone an achievement in your settings.
    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#user-stats"} My Stats (All-time)
      #user-stats.panel-collapse.panel-body.collapse.in
        .row
          - if current_user.admin? || current_user.shipping_manager?
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= current_user.containers.count
              %h5.text-muted.text-center Containers Created
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= current_user.container_items.count
              %h5.text-muted.text-center Containerized Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.pallets.count
            %h5.text-muted.text-center Pallets Created
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.pallet_items.count
            %h5.text-muted.text-center Palletized Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.boxes.count
            %h5.text-muted.text-center Boxes Created
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.box_items.count
            %h5.text-muted.text-center Boxed Items

    - if current_user.admin?
      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#new-users"}
          Recently Added Users
          %span.label.label-info Total: #{User.count}
        #new-users.collapse.in
          %table.table.table-striped.table-hover.link-rows
            %thead
              %tr
                %th.hidden-xs Name
                %th Email
                %th.hidden-xs Role
                %th Status
            %tbody
              - User.order(:created_at).reverse.first(10).each do |user|
                %tr
                  %td.hidden-xs
                    = link_to user_path(user) do
                      %p= user.name
                  %td
                    = link_to user_path(user) do
                      %p= user.email
                  %td.hidden-xs
                    = link_to user_path(user) do
                      %p= user.role
                  %td
                    = link_to user_path(user) do
                      - if user.active?
                        %p.text-success= user.status
                      - else
                        %p.text-danger= user.status

      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#new-items"}
          Recently Added Items
          %span.label.label-info Total: #{Item.count}
        #new-items.collapse.in
          %table.table.list
            %tbody
              - Item.order(:created_at).reverse.first(10).each do |item|
                %tr
                  %td
                    = link_to item_path(item) do
                      %p.title= item.generated_name
                    %p.info= item.category&.name
                  %td
                    %p= item.created_at.strftime("%Y-%m-%d")
                    = link_to user_path(item.user) do
                      = item.user.name
                  %td
                    %p Instances:
                    = link_to item_instances_path(item) do
                      %p= item.packed_items.count

    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#notes"} Personal Notes
      #notes.panel-body.collapse.in
        - if current_user.notes.blank?
          %p
            Write something down by visiting your
            = link_to user_path(current_user) do
              user profile.
        - else
          %p= simple_format(current_user.notes)
