.content
  .header
    %h1.page-title Dashboard
    %ul.breadcrumb
      %li
        = link_to index_path do
          Home
      %li.active Dashboard
  .main-content
    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#page-stats"} Latest Stats (30 Days)
      #page-stats.panel-collapse.panel-body.collapse.in
        .row
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= Item.where(verified: false).count
            %h5.text-muted.text-center Unverified Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= Item.where(category: nil).count
            %h5.text-muted.text-center Uncategorized Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= BoxedItem.where("created_at > ?", 30.days.ago).count + PalletizedItem.where("created_at > ?", 30.days.ago).count + ContainerizedItem.where("created_at > ?", 30.days.ago).count
            %h5.text-muted.text-center Packed Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= Item.where("created_at > ?", 30.days.ago).count
            %h5.text-muted.text-center New Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= Box.where("created_at > ?", 30.days.ago).count
            %h5.text-muted.text-center New Boxes
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= Pallet.where("created_at > ?", 30.days.ago).count
            %h5.text-muted.text-center New Pallets
    .row
      .col-sm-6.col-md-6
        .panel.panel-default
          .panel-heading.no-collapse
            Recently Added Users
            %span.label.label-warning= User.count
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th Name
                %th Email
                %th Role
            %tbody
              - User.order(:created_at).reverse.first(5).each do |user|
                %tr
                  %td= user.name
                  %td
                    = link_to user_path(user) do
                      = user.email
                  %td= user.role

      .col-sm-6.col-md-6
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#notes"} Personal Notes
          #notes.panel-body.collapse.in
            %p
              Let a user create personal notes?
            %p
              Let them HTML escape for formatting?
            %p
              Hmmmmmmmmm. Return carriages are nice though.
            %p
              We'll see.
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading.no-collapse
            %span.panel-icon.pull-right
              %a.demo-cancel-click{:href => "#", :rel => "tooltip", :title => "Click to refresh"}
                %i.fa.fa-refresh
            Recently Added Items
          %table.table.list
            %tbody
              - Item.order(:created_at).reverse.first(10).each do |item|
                %tr
                  %td
                    = link_to item_path(item) do
                      %p.title= item.generated_name
                    %p.info= item&.category&.name
                  %td
                    %p= item.created_at&.strftime("%Y-%m-%d")
                    = link_to user_path(item.user) do
                      = item.user.name
                  %td
                    %p Usage Count:
                    %p= BoxedItem.where(item_id: item.id).count + PalletizedItem.where(item_id: item.id).count + ContainerizedItem.where(item_id: item.id).count
