.col-12.center
  %h2 Welcome, #{current_user.first_name}.

.col-4
  .vertical-menu
    .card
      Manage
      %i.fa.fa-lg.fa-cog
    = link_to("Warehouses", warehouses_path)
    = link_to("Items", item_list_path)
    = link_to("Categories", categories_path)
    = link_to("Users", users_path)

.col-4
  .vertical-menu
    .card
      Browse All
      %i.fa.fa-lg.fa-binoculars
    = link_to("Shipments", shipments_path)
    = link_to("Containers", container_list_path)
    = link_to("Pallets", pallet_list_path)
    = link_to("Boxes", box_list_path)

.col-4
  .vertical-menu
    .card
      Create
      %i.fa.fa-lg.fa-ship
    = link_to("Unassigned Container", warehouses_path)
    = link_to("Unassigned Pallet", shipments_path)
    = link_to("Unassigned Box", warehouses_path)
    = link_to("Input New Item", new_item_path)
