.content
  .header
    %h1.page-title Dashboard
    %ul.breadcrumb
      %li
        = link_to index_path do
          Home
      %li.active Dashboard
  .main-content
    - unless current_user.volunteer?
      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#page-stats"} Global Stats (30 Days)
        #page-stats.panel-collapse.panel-body.collapse.in
          .row
            .col-md-2.col-sm-6.col-xs-6
              - new_items = Item.where("created_at > ?", 30.days.ago).count
              - unverified_items = Item.where("created_at > ? AND verified IS FALSE", 30.days.ago).count
              - uncategorized_items = Item.where("created_at > ? AND category_id IS NULL", 30.days.ago).count
              - packed_items = PackedItem.where("created_at > ?", 30.days.ago).count
              - box_count = Box.where("created_at > ?", 30.days.ago).count
              - pallet_count = Pallet.where("created_at > ?", 30.days.ago).count
              %h3.text-center= new_items
              %h5.text-muted.text-center New Items
              %h5.text-center.text-success
                #{sprintf("%0.02f", new_items/Item.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= unverified_items
              %h5.text-muted.text-center Unverified Items
              %h5.text-center.text-danger
                #{sprintf("%0.02f", unverified_items/Item.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= uncategorized_items
              %h5.text-muted.text-center Uncategorized Items
              %h5.text-center.text-danger
                #{sprintf("%0.02f", uncategorized_items/Item.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= packed_items
              %h5.text-muted.text-center Packed Items
              %h5.text-center.text-success
                #{sprintf("%0.02f", packed_items/PackedItem.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= box_count
              %h5.text-muted.text-center New Boxes
              %h5.text-center.text-success
                #{sprintf("%0.02f", box_count/Box.count.to_f*100)}%
                %i.fa.fa-level-up-alt
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= pallet_count
              %h5.text-muted.text-center New Pallets
              %h5.text-center.text-success
                #{sprintf("%0.02f", pallet_count/Pallet.count.to_f*100)}%
                %i.fa.fa-level-up-alt

    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#user-stats"} My Stats (All-time)
      #user-stats.panel-collapse.panel-body.collapse.in
        .row
          - if current_user.admin? || current_user.shipping_manager?
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= current_user.containers.count
              %h5.text-muted.text-center Containers Created
            .col-md-2.col-sm-6.col-xs-6
              %h3.text-center= current_user.container_items.count
              %h5.text-muted.text-center Containerized Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.pallets.count
            %h5.text-muted.text-center Pallets Created
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.pallet_items.count
            %h5.text-muted.text-center Palletized Items
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.boxes.count
            %h5.text-muted.text-center Boxes Created
          .col-md-2.col-sm-6.col-xs-6
            %h3.text-center= current_user.box_items.count
            %h5.text-muted.text-center Boxed Items

    - if current_user.admin?
      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#new-users"}
          Recently Added Users
          %span.label.label-info Total: #{User.count}
        #new-users.collapse.in
          %table.table.table-striped.table-hover.link-rows
            %thead
              %tr
                %th.hidden-xs Name
                %th Email
                %th.hidden-xs Role
                %th Status
            %tbody
              - User.order(:created_at).reverse.first(10).each do |user|
                %tr
                  %td.hidden-xs
                    = link_to user_path(user) do
                      %p= user.name
                  %td
                    = link_to user_path(user) do
                      %p= user.email
                  %td.hidden-xs
                    = link_to user_path(user) do
                      %p= user.role
                  %td
                    = link_to user_path(user) do
                      - if user.active?
                        %p.text-success= user.status
                      - else
                        %p.text-danger= user.status

      .panel.panel-default
        %a.panel-heading{data: {toggle: "collapse"}, href: "#new-items"}
          Recently Added Items
          %span.label.label-info Total: #{Item.count}
        #new-items.collapse.in
          %table.table.list
            %tbody
              - Item.order(:created_at).reverse.first(10).each do |item|
                %tr
                  %td
                    = link_to item_path(item) do
                      %p.title= item.generated_name
                    %p.info= item.category&.name
                  %td
                    %p= item.created_at.strftime("%Y-%m-%d")
                    = link_to user_path(item.user) do
                      = item.user.name
                  %td
                    %p Instances:
                    = link_to item_instances_path(item) do
                      %p= Item.item_instances(item)

    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#notes"} Personal Notes
      #notes.panel-body.collapse.in
        - if current_user.notes.blank?
          %p
            Write something down by visiting your
            = link_to user_path(current_user) do
              user profile.
        - else
          %p= simple_format(current_user.notes)
