- if @pallet.palletized_items.none?
  %p Use the tabs to search or create a new item.
- @pallet.palletized_items.each do |item|
  = form_for [@pallet, item], method: :patch do |f|
    .panel.panel-default
      %a.panel-heading{data: {toggle: "collapse"}, href: "#item#{item.id}"}
        #{item.generated_name} (#{item.quantity}) #{item.expiry_date&.strftime("%Y-%m-%d")}
      .collapse.in{id: "item#{item.id}"}
        %table.table.list
          %tbody
            %tr
              %th
                %p Expiry Date
              %th
                %p Quantity
              %th
                = delete_button(pallet_palletized_item_path(@pallet, item), "Are you sure?", "pull-right")
            %tr
              %td
                .form-group
                  = f.text_field :expiry_date, value: item.expiry_date&.strftime("%Y-%m-%d"), class: "form-control datepicker", id: "palletized-item-#{item.id}"
              %td
                .form-group
                  = f.number_field :quantity, value: item.quantity, min: 0, class: "form-control"
              %td
                = submit_button("Save", "pull-right")
