%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th.hidden-xs ID
      %th.hidden-xs Quantity
      %th.hidden-xs Weight
      %th Expires
      %th.mass-action-cell
  %tbody
    - items.each do |item|
      %tr
        %td
          %p= item.generated_name
        %td.hidden-xs
          %p= item.show_id ? item.id : ""
        %td.hidden-xs
          %p= item.quantity
        %td.hidden-xs
          %p= item.weight.to_f.zero? ? "N/A" : "#{item.weight}kg"
        %td
          %p= item.expiry_date&.strftime("%Y-%m-%d") || "N/A"
        %td.mass-action-cell
          = check_box_tag "packed_item_ids[]", item.id, false, class: "mass-action-table", form: "mass_action", id: "mass-action-packed-item-#{item.id}"
