%table.table.table-striped.link-rows
  %thead
    %tr
      %th Name
      %th Expires
      %th Quantity
      - if can?(:manage, PackedItem)
        %th
  %tbody#filter-packed-items-table
    - packed_items.order(:updated_at).reverse_order.each do |pi|
      - path = present(pi).path
      %tr.filter-row
        %td
          = link_to path do
            %p= pi.generated_name
        %td
          = link_to path do
            %p= pi.expiry_date&.strftime("%Y-%m-%d")
        %td
          = link_to path do
            %p= pi.quantity
        - if can?(:manage, PackedItem)
          %td.mass-action-cell
            = check_box_tag "packed_item_ids[]", pi.id, false, class: "mass-action-table", form: "mass_action", id: "mass-action-packed-item-#{pi.id}"
