.row.inline-add-item
  .col-xs-12.manage-item-name
    %p
      = pi.generated_name
      - if pi.show_id
        —
        %em.show-id ID: ##{pi.id}
    .drawer-info
      %span.label.label-info= pi.remaining_quantity
      %i.fa.fa-ellipsis-v
  .col-xs-12.manage-item-form.hidden
    .row
      .col-xs-12.col-md-6
        .form-group
          = f.label :quantity
          = f.number_field :quantity, value: pi.remaining_quantity, class: "form-control", min: 1, max: pi.remaining_quantity
      .col-xs-12.col-md-6
        .form-group
          = f.label "Hospital/Clinic"
          = f.select :hospital_id, options_from_collection_for_select(Hospital.accessible_by(current_ability).order(:name), :id, :name), { include_blank: "None" }, { class: "form-control", id: "hospital-assignment" }
        %h6
          %a{data: {target: "#add-hospital-modal", toggle: "modal"}, href: ""} Don't see your clinic or hospital? Add one.
      .col-xs-10.col-sm-9.col-lg-10
        .form-group
          = f.label "Notes"
          = f.text_field :notes, class: "form-control", placeholder: "Explanation"
      .col-xs-2.col-sm-3.col-lg-2
        .form-group
          %label &nbsp;
          .btn-toolbar.list-toolbar
            = submit_button_responsive("Unpack", "pull-right")
