.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Items by Category", received_categories_path
      %li.active= @category&.name || "Uncategorized"
    = render partial: "layouts/jump_to_modal"
  .main-content
    %h5 Select an item to view its possible locations.
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th Remaining
      %tbody
        - @packed_items.group_by(&:item).each do |(item, packed_items)|
          %tr
            %td
              = link_to received_item_locations_path(item) do
                %p= item.generated_name
            %td
              = link_to received_item_locations_path(item) do
                %p= packed_items.sum(&:remaining_quantity)

    = paginate @packed_items, window: 2
