- comparison_item ||= ""
- placeholder_item = Item.new(generated_name: comparison_item)
- @items.each do |item|
  %tr
    %td
      = render partial: "layouts/item_edit_modal", locals: {item: item, redirect: "reconcile_uncategorized_path"}
      %p{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
        = present(placeholder_item).match(item.generated_name)
    %td
      %p{data: {target: "#item-#{item.id}Modal", toggle: "modal"}, class: item.verified ? "text-success" : "text-danger"}
        = item.verified.to_s.capitalize

    %td
      = link_to item_instances_path(item) do
        %p.instances= item.packed_items.count
