- comparison_item ||= ""
- placeholder_item = Item.new(generated_name: comparison_item)
- @items.each do |item|
  %tr
    %td
      = render partial: "layouts/item_edit_modal", locals: {item: item, redirect: "reconcile_unverified_path"}
      %p{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
        = present(placeholder_item).match(item.generated_name)
    %td.hidden-xs
      %p{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
        = item.category&.name || "N/A"
    %td
      = link_to item_instances_path(item) do
        %p.instances= item.packed_items.count
