.content
  .header
    %h1.page-title Reconcile Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile Items
  .main-content
    .row
      .col-xs-12
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#item"}
            Merge: #{@item.generated_name} (Unverified)
          .collapse.in{id: "item"}
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th Item
                  %th Created By
                  %th Created At
                  %th Instances Used
                  %th Instances
              %tbody
                %tr
                  %td
                    = link_to item_path(@item) do
                      %p= @item.generated_name
                  %td
                    = link_to user_path(@item.user) do
                      %p= @item.user.name
                  %td
                    %p= @item.created_at.strftime("%Y-%m-%d")
                  %td
                    %p= @overview.item_instances(@item)
                  %td
                    = link_button("Search", item_instances_path(item), "center-block")

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#targetitem"}
            Target: #{@target_item.generated_name} (Verified)
          .collapse.in{id: "targetitem"}
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th Item
                  %th Created By
                  %th Created At
                  %th Instances Used
                  %th Instances
              %tbody
                %tr
                  %td
                    = link_to item_path(@target_item) do
                      %p= @item.generated_name
                  %td
                    = link_to user_path(@target_item.user) do
                      %p= @target_item.user.name
                  %td
                    %p= @target_item.created_at.strftime("%Y-%m-%d")
                  %td
                    %p= @overview.item_instances(@target_item)
                  %td
                    = link_button("Search", item_instances_path(item), "center-block")
    .row
      .col-xs-12
        = form_tag(execute_reconcile_path, method: "get") do
          .form-group
            = check_box_tag :delete_item, class: "form-control"
            %label Delete Old Item on Merge

          = submit_button("Confirm", "pull-left")
