.content
  .header
    %h1.page-title Reconcile - Flagged
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile - Flagged
  .main-content
    .row
      .col-xs-12
        - if @items.any?
          %h3 Flagged Items (#{Item.flagged.count})
          %p These items were voluntarily flagged for admin inspection. Click on the item's name to begin verifying.
          %table.table.table-striped.table-hover.link-rows
            %thead
              %tr
                %th Name
                %th Verified
                %th Category
                %th Instances
            %tbody
              - @items.each do |item|
                %tr
                  %td
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.generated_name
                  %td
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.verified.to_s.capitalize
                  %td
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.category&.name || "N/A"
                  %td
                    = link_to item_instances_path(item) do
                      %p= Item.item_instances(item)

                = render partial: "layouts/item_edit_modal", locals: {item: item, redirect: "flagged"}

          = paginate @items

        - else
          %h3.text-center No items to verify.
