.content
  .header
    %h1.page-title Item Activity for #{@item.generated_name}
    %ul.breadcrumb
      %li
        = link_to index_path do
          Home
      %li.active Item Activity
  .main-content
    .row
      .col-xs-12
        - if @container_items.none? && @pallet_items.none? && @box_items.none? && @staged_items.none?
          %h3.text-center No item activity to display.
        - else
          - if @staged_items.any?
            .panel.panel-default
              %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#staged_items"}
                %i.fa.fa-stethoscope
                Staged Items
                %span.label.label-info= @staged_items.size
              .collapse{id: "staged_items"}
                %table.table.table-striped
                  %tbody
                    %thead
                      %tr
                        %th.hidden-xs Quantity
                        %th Name
                        %th.hidden-xs
                        %th Staging
                        %th Date
                    - @staged_items.each do |item|
                      %tr
                        %td.hidden-xs
                          %p= item.quantity
                        %td
                          = link_to item_path(item.item_id) do
                            = item.generated_name
                        %td.hidden-xs.text-center
                          %i.fa.fa-arrow-right
                        %td
                          = link_to packed_items_path do
                            Staging Area
                        %td
                          %p= item.created_at.strftime("%Y-%m-%d")
          - if @box_items.any?
            .panel.panel-default
              %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#box_items"}
                %i.fa.fa-box-open
                Boxed Items
                %span.label.label-info= @box_items.size
              .collapse{id: "box_items"}
                %table.table.table-striped
                  %tbody
                    %thead
                      %tr
                        %th.hidden-xs Quantity
                        %th Name
                        %th.hidden-xs.text-center To
                        %th Box
                        %th Date
                    - @box_items.each do |item|
                      %tr
                        %td.hidden-xs
                          %p= item.quantity
                        %td
                          = link_to item_path(item.item_id) do
                            = item.generated_name
                        %td.hidden-xs.text-center
                          %i.fa.fa-arrow-right
                        %td
                          = link_to box_path(item.box) do
                            = item.box.name
                        %td
                          %p= item.created_at.strftime("%Y-%m-%d")

          - if @pallet_items.any?
            .panel.panel-default
              %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#pallet_items"}
                %i.fa.fa-pallet
                Palletized Items
                %span.label.label-info= @pallet_items.size
              .collapse{id: "pallet_items"}
                %table.table.table-striped
                  %tbody
                    %thead
                      %tr
                        %th.hidden-xs Quantity
                        %th Name
                        %th.hidden-xs.text-center To
                        %th Pallet
                        %th Date
                    - @pallet_items.each do |item|
                      %tr
                        %td.hidden-xs
                          %p= item.quantity
                        %td
                          = link_to item_path(item.item_id) do
                            = item.generated_name
                        %td.hidden-xs.text-center
                          %i.fa.fa-arrow-right
                        %td
                          = link_to pallet_path(item.pallet) do
                            = item.pallet.name
                        %td
                          %p= item.created_at.strftime("%Y-%m-%d")

          - if @container_items.any?
            .panel.panel-default
              %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#container_items"}
                %i.fa.fa-truck
                Containerized Items
                %span.label.label-info= @container_items.size
              .collapse{id: "container_items"}
                %table.table.table-striped
                  %tbody
                    %thead
                      %tr
                        %th.hidden-xs Quantity
                        %th Name
                        %th.hidden-xs.text-center To
                        %th Container
                        %th Date
                    - @container_items.each do |item|
                      %tr
                        %td.hidden-xs
                          %p= item.quantity
                        %td
                          = link_to item_path(item.item_id) do
                            = item.generated_name
                        %td.hidden-xs.text-center
                          %i.fa.fa-arrow-right
                        %td
                          = link_to container_path(item.container) do
                            = item.container.name
                        %td
                          %p= item.created_at.strftime("%Y-%m-%d")
