.content
  .header
    %h1.page-title Item Activity for #{@item.generated_name}
    %ul.breadcrumb
      %li
        = link_to index_path do
          Home
      %li.active Item Activity
  .main-content
    .row
      .col-xs-12
        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#box_items"}
            Boxed Items (#{@box_items.size})
          .collapse{id: "box_items"}
            %table.table.list
              %tbody
                %thead
                  %tr
                    %th Quantity
                    %th Name
                    %th
                    %th Container
                    %th Date
                - @box_items.each do |item|
                  %tr
                    %td
                      %p= item.quantity
                    %td
                      = link_to item_path(item.item_id) do
                        = item.generated_name
                    %td
                      %i.fa.fa-arrow-right
                    %td
                      = link_to box_path(item.box) do
                        = item.box.name
                    %td
                      %p= item.created_at.strftime("%Y-%m-%d")

      .col-xs-12
        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#pallet_items"}
            Palletized Items (#{@pallet_items.size})
          .collapse{id: "pallet_items"}
            %table.table.list
              %tbody
                %thead
                  %tr
                    %th Quantity
                    %th Name
                    %th
                    %th Container
                    %th Date
                - @pallet_items.each do |item|
                  %tr
                    %td
                      %p= item.quantity
                    %td
                      = link_to item_path(item.item_id) do
                        = item.generated_name
                    %td
                      %i.fa.fa-arrow-right
                    %td
                      = link_to pallet_path(item.pallet) do
                        = item.pallet.name
                    %td
                      %p= item.created_at.strftime("%Y-%m-%d")

      .col-xs-12
        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#container_items"}
            Containerized Items (#{@container_items.size})
          .collapse{id: "container_items"}
            %table.table.list
              %tbody
                %thead
                  %tr
                    %th Quantity
                    %th Name
                    %th
                    %th Container
                    %th Date
                - @container_items.each do |item|
                  %tr
                    %td
                      %p= item.quantity
                    %td
                      = link_to item_path(item.item_id) do
                        = item.generated_name
                    %td
                      %i.fa.fa-arrow-right
                    %td
                      = link_to container_path(item.container) do
                        = item.container.name
                    %td
                      %p= item.created_at.strftime("%Y-%m-%d")
