.content
  .header
    %h1.page-title Reconcile Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile Items
  .main-content
    .row
      .col-xs-12
        %h3 Unverified Items (#{@overview.unverified_items.size})
    .row
      .col-xs-12
        %br
        - @overview.unverified_items.each do |item|
          .panel.panel-default
            %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#item#{item.id}"}
              #{item.generated_name}
            .collapse{id: "item#{item.id}"}
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Item
                    %th Created By
                    %th Created At
                    %th Instances Used
                    %th Show Instances
                    %th Reconciliation
                %tbody
                  %tr
                    %td
                      = link_to item_path(item) do
                        %p Verify / Edit
                    %td
                      = link_to user_path(item.user) do
                        %p= item.user.name
                    %td
                      %p= item.created_at.strftime("%Y-%m-%d")
                    %td
                      %p= @overview.item_instances(item)
                    %td
                      %p Search
                    %td
                      = link_button("Start >>", reconcile_start_path(item), "center-block")
