.content
  .header
    %h1.page-title Reconcile Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Reconcile - Unverified", reconcile_unverified_path
      %li.active Reconciling: #{@item.generated_name}
  .main-content
    .row
      .col-xs-12
        %h3 Select a target for the reconcile item.
      .col-xs-12
        %h4 Reconcile Item
        %h5 Merge this item into the selected target item.
    .row.stats-container
      .col-xs-12
        %h5.text-muted Name
        = link_to item_path(@item) do
          %h4= @item.generated_name
      .col-lg-3.col-sm-4.col-xs-6
        %h5.text-muted Created By
        %h4= @item.user.name
      .col-lg-3.col-sm-4.col-xs-6
        %h5.text-muted Created At
        %h4= @item.created_at.strftime("%Y-%m-%d")
      .col-lg-3.col-sm-4.col-xs-6
        %h5.text-muted Verified
        %h4{style: "color: #{@item.verified ? "#ff4d4d" : "#02a556"}"}= @item.verified.to_s.capitalize
      .col-lg-3.col-sm-4.col-xs-6
        %h5.text-muted Category
        %h4{style: "color: #{@item.category.present? ? "#ff4d4d" : "#02a556"}"}= @item.category&.name || "N/A"

    - if Item.item_instances(@item).zero?
      .row
        .col-xs-12
          %p This item is not currently in use. You may wish to delete it.
          = delete_button(item_path(@item), "Are you sure you want to delete #{@item.generated_name}? This cannot be reversed.")

    - if @similar_items.any?
      .row
        .col-xs-12
          %h4 Target Item Suggestions
          %h5 You can swap the target and reconcile item in the next stage if you wish.
      - @similar_items.each do |item|
        = render partial: "item_card", locals: {item: item}

    - else
      .row
        .col-xs-12
          %h5.text-center No suggestions found. Try searching for an item.

    .row
      .col-xs-12
        = render "search_form"
