.content
  .header
    %h1.page-title Reconcile - Uncategorized
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile - Uncategorized
  .main-content
    .row
      .col-xs-12
        - if @items.any?
          %h3 Uncategorized Items (#{Item.uncategorized.count})
          %p These items are uncategorized. Click on the item's name to begin categorizing.
          = render partial: "items/search_form", locals: { path: "/uncategorized_item_search" }
          %table.table.table-striped.table-hover.link-rows
            %thead
              %tr
                %th Name
                %th Verified
                %th.hidden-xs Flagged
                %th Instances
            %tbody#search-results
              = render "uncategorized_table"

          = paginate @items

        - else
          %h4.text-center No items to categorize.
