.content
  .header
    %h1.page-title Reconcile - Uncategorized
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile - Uncategorized
  .main-content
    .row
      .col-xs-12
        - if @items.any?
          %h3 Uncategorized Items (#{Item.uncategorized.count})
          %p These items are uncategorized. Click on the item's name to begin categorizing.
          %table.table.table-striped
            %thead
              %tr
                %th Name
                %th.hidden-xs Created At
                %th Verified
                %th Instances
            %tbody
              - @items.each do |item|
                %tr
                  %td
                    = link_to item_path(item) do
                      %p= item.generated_name
                  %td.hidden-xs
                    %p= item.created_at.strftime("%Y-%m-%d")
                  %td
                    %p= item.verified.to_s.capitalize
                  %td
                    = link_to item_instances_path(item) do
                      %p= Item.item_instances(item)

          = paginate @items

        - else
          %h3.text-center No items to categorize.
