.content
  .header
    %h1.page-title Reconcile - Unverified
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Reconcile - Unverified
  .main-content
    .row
      .col-xs-12
        - if @items.any?
          %h3 Unverified Items (#{Item.unverified.count})
          %p These items are unverified. Click on the item's row to start.
          %table.table.table-striped.table-hover.link-rows
            %thead
              %tr
                %th Name
                %th.hidden-xs Category
                %th Instances
                %th.hidden-xs Created At
            %tbody
              - @items.each do |item|
                %tr
                  %td
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.generated_name
                  %td.hidden-xs
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.category&.name || "N/A"
                  %td
                    = link_to item_instances_path(item) do
                      %p= Item.item_instances(item)
                  %td.hidden-xs
                    %a{data: {target: "#item-#{item.id}Modal", toggle: "modal"}}
                      %p= item.created_at.strftime("%Y-%m-%d")

                = render partial: "layouts/item_edit_modal", locals: {item: item, redirect: "reconcile_unverified_path"}

          = paginate @items

        - else
          %h3.text-center No items to verify.
