.content
  .header
    %h1.page-title Users
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Users
  .main-content
    .btn-toolbar.list-toolbar
      = link_button("New User", new_user_path, "pull-left")
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Role
          %th Created At
      %tbody
        - @users.each do |user|
          %tr
            %td
              = link_to user_path(user) do
                = user.name
            %td= user.email
            %td= user.phone
            %td Unavailable
            %td= user.created_at.strftime("%Y-%m-%d")

    = paginate @users
