.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Users
    = add_button(new_user_path, "User", "fa-user")
    = render partial: "layouts/jump_to_modal"
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th.hidden-xs Email
          %th.hidden-xs Phone
          %th Role
          %th Status
      %tbody
        - @users.each do |user|
          %tr
            %td
              = link_to user_path(user) do
                %p= user.name
            %td.hidden-xs
              = link_to user_path(user) do
                %p= user.email
            %td.hidden-xs
              = link_to user_path(user) do
                %p= user.phone
            %td
              = link_to user_path(user) do
                %p= user.role
            %td
              = link_to user_path(user) do
                - if user.active?
                  %p.text-success= user.status
                - else
                  %p.text-danger= user.status

    = paginate @users
