.content
  .header
    %h1.page-title Users
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Users
    = add_button(new_user_path, "User", "fa-user")
  .main-content
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th.hidden-xs Phone
          %th Role
          %th.hidden-xs Created At
      %tbody
        - @users.each do |user|
          %tr
            %td
              = link_to user_path(user) do
                = user.name
            %td= user.email
            %td.hidden-xs= user.phone
            %td= user.role
            %td.hidden-xs= user.created_at.strftime("%Y-%m-%d")

    = paginate @users
