%br
.col-12.center
  = back_button(users_path, "Users")
  = delete_button(user_path(@user))
.col-12.center
  %table
    %caption= @user.name
    %thead
      %tr
        %th{:scope => "col"} Email
        %th{:scope => "col"} Phone
        %th{:scope => "col"} Role
    %tbody
      %tr
        %td{"data-label" => "Email"}= @user.email
        %td{"data-label" => "Phone"}= @user.phone
        %td{"data-label" => "Role"} Unavailable
