- pallet_id = @box.pallet_id.presence || params[:pallet_id]
- container_id = @box.container_id.presence || params[:container_id]
- pallet_collection = @box.container.present? ? @box.container.pallets.accessible_by(current_ability) : Pallet.accessible_by(current_ability)
= form_for @box do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    %label Custom ID
    = f.number_field :custom_uid, min: 0, class: "form-control"
  .form-group
    = f.label :status
    = f.select :status, options_for_select(Box::STATUSES, @box.status), {}, { class: "form-control" }
  .form-group
    %label Weight (kg)
    = f.number_field :weight, min: 0, step: :any, class: "form-control"
  .form-group
    = f.label :notes
    = f.text_field :notes, class: "form-control"
  .form-group
    %label Pallet Assignment
    = f.select :pallet_id, options_from_collection_for_select(pallet_collection.order(:id).reverse_order, :id, :name, pallet_id), { include_blank: "None" }, { class: "form-control", id: "pallet-assignment" }
  .form-group
    %label Container Assignment
    = f.select :container_id, options_from_collection_for_select(Container.accessible_by(current_ability).order(:id).reverse_order, :id, :name, container_id), { include_blank: "None" }, { class: "form-control", id: "container-assignment" }

  .btn-toolbar.list-toolbar
    - if @box.persisted?
      = delete_button(box_path(@box), "Are you sure you want to delete #{@box.name}? This cannot be reversed")
    = submit_button_responsive("Save")
