= form_for [@shipment, @container, @pallet, @box] do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.label :status
  %br
  = f.text_field :status
  %br
  = f.label :notes
  %br
  = f.text_field :notes
  %br
  %br
  %br
  = back_button(shipment_container_pallet_boxes_path, "Cancel")
  = submit_button("Save")
