- @boxes ||= boxes
%table.table.table-striped.table-hover.link-rows
  %thead
    %tr
      %th Custom ID
      %th Name
      %th Status
      %th.hidden-sm.hidden-xs Palletized?
      %th.hidden-xs Receiver
      %th.hidden-xs Created At
      %th.mass-action-cell
  %tbody
    - @boxes.each do |box|
      %tr
        %td
          = link_to box_path(box) do
            %p= box.custom_uid
        %td
          = link_to box_path(box) do
            %p= box.name
        %td
          = link_to box_path(box) do
            %p{class: "status-#{box.status.parameterize}"}= box.status
        %td.hidden-sm.hidden-xs
          = link_to box_path(box) do
            %p{class: (box.pallet.nil? ? "text-warning" : "text-success")}= box.pallet.nil? ? "No" : "Yes"
        %td.hidden-xs
          = link_to box_path(box) do
            %p= box&.shipment&.receiving_warehouse&.name
        %td.hidden-xs
          = link_to box_path(box) do
            %p= box.created_at.strftime("%Y-%m-%d")
        %td.mass-action-cell
          = check_box_tag "box_ids[]", box.id, false, class: "mass-action-table", form: "mass_action", id: "mass-action-box-#{box.id}"
