- title = "#{params[:display].present? ? params[:display] + " " : "" }boxes"
.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active= title.titleize
    - if can? :create, Box
      = add_button(new_box_path, "Box", "fa-box-open")
    = render partial: "layouts/jump_to_modal"
    - if @boxes.any? && can?(:create, Box)
      = render partial: "layouts/mass_action_modal", locals: {name: title, redirect: boxes_path(display: params[:display]), record: nil}

  .main-content
    - if @boxes.any?
      - if params[:display] == "warehoused" || params[:display] == "staged"
        %h5 Showing all #{params[:display]} boxes and any boxes on #{params[:display]} pallets.
      = render "table"
      = paginate @boxes, window: 2

    - else
      %h4.text-center No #{title}.
