- title = "#{params[:display].present? ? params[:display] + " " : "" }boxes"
.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active= title.titleize
    = render partial: "layouts/jump_to_modal"
    - if can? :create, Box
      = add_button(new_box_path, "Box", "fa-box-open")
    - if can? :manage, PackedItem
      = render partial: "layouts/mass_action_modal", locals: {name: title, redirect: boxes_path(display: params[:display]), record: nil}

  .main-content
    - if @boxes.any?
      - if params[:display] == "warehoused" || params[:display] == "staged"
        %h5
          Showing all <em>#{params[:display].titleize}</em> boxes and any boxes
          on <em>#{params[:display].titleize}</em> pallets.
      - elsif params[:display] == "in_progress"
        %h5 Showing all <em>In Progress</em> boxes and any boxes on <em>In Progress</em> pallets.

      - else
        %h5
          <em>Staged</em> and <em>Warehoused</em> boxes are not shown here
          and can be found in their respective menus.

      = render "table"
      = paginate @boxes, window: 2

    - else
      %h4.text-center No #{title}.
