%br
.col-12.center
  = back_button(shipment_container_pallet_path(@shipment, @container, @pallet))
  = link_button("Start a New Box", new_shipment_container_pallet_box_path(@shipment, @container, @pallet))
.col-12.center
  %table
    %caption Shipment ##{@shipment.id} / Container ##{@container.id} / Pallet ##{@pallet.id} / Boxes
    %thead
      %tr
        %th{:scope => "col"} ID
        %th{:scope => "col"} Name
        %th{:scope => "col"} Status
        %th{:scope => "col"} Notes
        %th{:scope => "col"} Receiver
        %th{:scope => "col"} Shipper
        %th{:scope => "col"}
    %tbody
      - @boxes.each do |box|
        %tr
          %td{"data-label" => "ID"}= box.id
          %td{"data-label" => "Name"}= box.name
          %td{"data-label" => "Status"}= box.status
          %td{"data-label" => "Notes"}= box.notes
          %td{"data-label" => "Receiver"}= box.pallet.container.shipment.receiving_warehouse.name
          %td{"data-label" => "Shipper"}= box.pallet.container.shipment.shipping_warehouse.name
          %td{"data-label" => "Action"}
            = table_button("View", shipment_container_pallet_box_path(@shipment, @container, @pallet, box))
