.content
  .header
    %h1.page-title Boxes
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display]&.titleize} Boxes
  .main-content
    .btn-toolbar.list-toolbar
      = link_button("New Box", new_box_path, "pull-left")
    %table.table
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-sm.hidden-xs Receiver
          %th.hidden-sm.hidden-xs Shipper
          %th Created By
      %tbody
        - @boxes.each do |box|
          %tr
            %td= box.custom_uid
            %td
              = link_to box_path(box) do
                = box.name
            %td= box.status
            %td.hidden-sm.hidden-xs= box.pallet&.container&.shipment&.receiving_warehouse&.name
            %td.hidden-sm.hidden-xs= box.pallet&.container&.shipment&.shipping_warehouse&.name
            %td= box.user.name

    = paginate @boxes
