.content
  .header
    %h1.page-title Boxes
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display].present? ? params[:display].titleize + " " : "" }Boxes
    - if can? :create, Box
      = add_button(new_box_path, "Staged Box", "fa-box-open")
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-xs Shipper
          %th.hidden-xs Receiver
          %th.hidden-xs Created By
      %tbody
        - @boxes.each do |box|
          %tr
            %td
              = link_to box_path(box) do
                %p= box.custom_uid
            %td
              = link_to box_path(box) do
                %p= box.name
            %td
              = link_to box_path(box) do
                %p{class: "status-#{box.status.parameterize}"}= box.status
            %td.hidden-xs
              = link_to box_path(box) do
                %p= box&.shipment&.shipping_warehouse&.name
            %td.hidden-xs
              = link_to box_path(box) do
                %p= box&.shipment&.receiving_warehouse&.name
            %td.hidden-xs
              = link_to box_path(box) do
                %p= box.user.name

    = paginate @boxes, window: 2
