.content
  .header
    %h1.page-title Boxes
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display]&.titleize} Boxes
    = add_button(new_box_path, "Unassigned Box", "fa-box-open")
  .main-content
    %table.table.table-striped
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-xs Receiver
          %th.hidden-xs Shipper
          %th.hidden-xs Created By
      %tbody
        - @boxes.each do |box|
          %tr
            %td= box.custom_uid
            %td
              = link_to box_path(box) do
                = box.name
            %td= box.status
            %td.hidden-xs= box&.shipment&.receiving_warehouse&.name
            %td.hidden-xs= box&.shipment&.shipping_warehouse&.name
            %td.hidden-xs= box.user.name

    = paginate @boxes, window: 2
