.content
  .header
    %h1.page-title= @box.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@box).breadcrumbs

    = add_button(box_box_items_path(@box), "Item", "fa-stethoscope")

  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        .tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @box.name
              - if @box.notes.present?
                .col-md-12
                  %h5.text-muted Notes
                  %h4= @box.notes
              .col-xs-6
                %h5.text-muted Custom ID
                %h4= @box.custom_uid
              .col-xs-6
                %h5.text-muted Status
                %h4= @box.status
              .col-xs-6
                %h5.text-muted Created By
                %h4= @box.user.name
              .col-xs-6
                %h5.text-muted Created At
                %h4= @box.created_at.strftime("%Y-%m-%d")

          #edit.tab-pane.fade
            = render partial: "form"

      .col-md-7
        %br
        - present(@box) do |box|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  - unless box.container.present? && box.pallet.nil?
                    %tr
                      %td
                        %p Pallet
                      = box.pallet_location

                  %tr
                    %td
                      %p Container
                    = box.container_location
                  %tr
                    %td
                      %p Shipment
                    = box.shipment_location

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#boxitems"}
            Items in this Box (#{@box.box_items.size})
          - if @box.box_items.any?
            #boxitems.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Name
                    %th Expiry Date
                    %th Quantity
                %tbody
                  - @box.box_items.each do |bi|
                    %tr
                      %td
                        = link_to item_path(bi.item) do
                          = bi.generated_name
                      %td= bi.expiry_date&.strftime("%Y-%m-%d")
                      %td= bi.quantity
          - else
            #boxitems.collapse.in.panel-body
              %h5 No items in this box.
