.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@box).breadcrumbs

    = link_index_button(boxes_path, "fa-box-open")
    %h5 Add to this Box:
    = manage_button(box_box_items_path(@box), "Items", "fa-stethoscope")

    %button.btn.btn-primary{data: {target: "#mass-action-modal", toggle: "modal"}, disabled: true}
      %span.mass-action-count Mass Action
      %i.fa.fa-angle-double-right
    = render partial: "layouts/mass_action_modal", locals: {name: @box.name, redirect: box_path(@box), record: @box}

  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View

      - if can? :manage, Box
        %li
          %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        .tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @box.name
                %hr
              - if @box.notes.present?
                .col-xs-12
                  %h5.text-muted Notes
                  %h4= @box.notes
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Custom ID
                %h5= @box.custom_uid
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Status
                %h5{class: "status-#{@box.status.parameterize}"}= @box.status
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Weight (kg)
                %h5= @box.weight.to_f.round(4) || "N/A"
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Created By
                %h5= @box.user.name
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Created At
                %h5= @box.created_at.strftime("%Y-%m-%d")

          - if can? :manage, Box
            #edit.tab-pane.fade
              = render partial: "form"

      .col-md-7
        %br
        - present(@box) do |box|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              %i.fa.fa-map-marker-alt
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Warehouse
                    = box.warehouse_location
                  %tr
                    %td
                      %p Shipment
                    = box.shipment_location
                  %tr
                    %td
                      %p Container
                    = box.container_location
                  - unless box.container.present? && box.pallet.nil?
                    %tr
                      %td
                        %p Pallet
                      = box.pallet_location

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#packed-items"}
            %i.fa.fa-stethoscope
            Items in this Box
            %span.label{class: @box.box_items.any? ? "label-success" : "label-warning"}= @box.box_items.size

          - if @box.box_items.any?
            #packed-items.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "packed-items"}
              = render partial: "packed_items/micro_table", locals: {packed_items: @box.box_items, path: box_box_items_path(@box)}
              .close-collapse{data: {toggle: "collapse"}, href: "#packed-items"}
                %span Close
          - else
            #packed-items.collapse.panel-body
              %h5.text-center No packed items in this box.

  - if (can? :manage, PackedItem) && (@staged_items.any? || @warehoused_items.any?)
    = render "layouts/mass_action_add", display: %i[items]
