.content
  .header
    %h1.page-title Containers
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display]&.titleize} Containers
    = add_button(new_container_path, "Unassigned Container", "fa-truck")
  .main-content
    %table.table
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-xs Receiver
          %th.hidden-xs Shipper
          %th.hidden-xs Created At
      %tbody
        - @containers.each do |container|
          %tr
            %td= container.custom_uid
            %td
              = link_to container_path(container) do
                = container.name
            %td= container.status
            %td.hidden-xs= container.shipment&.receiving_warehouse&.name
            %td.hidden-xs= container.shipment&.shipping_warehouse&.name
            %td.hidden-xs= container.created_at.strftime("%Y-%m-%d")

    = paginate @containers
