.content
  .header
    %h1.page-title Containers
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Containers", containers_path
      %li.active= @container.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-4
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            = render partial: "form", locals: { no_edit: true, delete: true }

          #edit.tab-pane.fade
            = render partial: "form", locals: { no_edit: false, delete: false }

      .col-md-8
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#widget1container"}
            Pallets in this Container
          - if @container.pallets.any?
            #widget1container.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @container.pallets.each do |pallet|
                    %tr
                      %td= pallet.custom_uid
                      %td
                        = link_to pallet_path(pallet) do
                          = pallet.name
                      %td= pallet.status
          - else
            #widget1container.collapse.in.panel-body
              %h4 No pallets.
              = link_button("Add a Pallet", new_pallet_path, "pull-left")
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#widget1container"}
            Loose Items in this Container
          - if @container.containerized_items.any?
            #widget1container.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @container.containerized_items.each do |item|
                    %tr
                      %td= item.generated_name
                      %td= item.expiry_date
                      %td= item.quantity
          - else
            #widget1container.collapse.in.panel-body
              %h4 No items.
              = link_button("Add an Item", new_pallet_path, "pull-left")
