.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs
    - if can? :manage, Container
      = render partial: "layouts/edit_modal"
    - if can? :create, Pallet
      = add_button(new_pallet_path(container_id: @container.id), "Pallet", "fa-pallet")
    - if can? :create, Box
      = add_button(new_box_path(container_id: @container.id), "Box", "fa-box-open")
    = manage_button(container_container_items_path(@container), "Items", "fa-stethoscope")
    = render partial: "layouts/jump_to_modal"
    - if can? :create, Box
      = render partial: "layouts/mass_action_modal", locals: {name: @container.name, redirect: container_path(@container), record: @container}

  .main-content
    .row
      .col-md-5
        .row
          .col-xs-12
            %h5.text-muted Name
            %h4= @container.name
            %hr
          - if @container.notes.present?
            .col-xs-12
              %h6.text-muted Notes
              %h5= @container.notes
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Custom ID
            %h5= @container.custom_uid
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Status
            %h5{class: "status-#{@container.status.parameterize}"}= @container.status
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Weight (kg)
            %h5= @container.weight.to_f.round(4) || "N/A"
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created By
            %h5= @container.user.name
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created At
            %h5= @container.created_at.strftime("%Y-%m-%d")

      .col-md-7
        %br
        - present(@container) do |container|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              %i.fa.fa-map-marker-alt
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Warehouse
                    = container.warehouse_location
                  %tr
                    %td
                      %p Shipment
                    = container.shipment_location

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            %i.fa.fa-pallet
            Pallets in this Container
            %span.label{class: @container.pallets.any? ? "label-success" : "label-warning"}= @container.pallets.size

          - if @container.pallets.any?
            #pallets.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "pallets"}
              = render partial: "pallets/micro_table", locals: {pallets: @container.pallets}
              .close-collapse{data: {toggle: "collapse"}, href: "#pallets"}
                %span Close
          - else
            #pallets.collapse.panel-body
              %h5.text-center No pallets in this container.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            %i.fa.fa-box-open
            Boxes in this Container
            %span.label{class: @container.boxes.any? ? "label-success" : "label-warning"}= @container.boxes.size

          - if @container.boxes.any?
            #boxes.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "boxes"}
              = render partial: "boxes/micro_table", locals: {boxes: @container.boxes, table_id: "filter-boxes-table"}
              .close-collapse{data: {toggle: "collapse"}, href: "#boxes"}
                %span Close
          - else
            #boxes.collapse.panel-body
              %h5.text-center No boxes in this container.

        .panel.panel-default
          %a.panel-heading.collapsed{class: (@container.container_items.count > 5 && "collapsed"),data: {toggle: "collapse"}, href: "#packed-items"}
            %i.fa.fa-stethoscope
            Packed Items Directly in this Container
            %span.label{class: @container.container_items.any? ? "label-success" : "label-warning"}= @container.container_items.size

          - if @container.container_items.any?
            #packed-items.collapse{class: (@container.container_items.count < 6 && "in")}
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "packed-items"}
              = render partial: "packed_items/micro_table", locals: {packed_items: @container.container_items}
              .close-collapse{data: {toggle: "collapse"}, href: "#packed-items"}
                %span Close
          - else
            #packed-items.collapse.panel-body
              %h5.text-center No packed items in this container.

  - if (can? :manage, PackedItem) && (@staged_items.any? || @staged_boxes.any? || @staged_pallets.any? || @warehoused_items.any? || @warehoused_boxes.any? || @warehoused_pallets.any?)
    = render "layouts/mass_action_add", display: %i[items boxes pallets]
