.content
  .header
    %h1.page-title= @container.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs

    = add_button(new_box_path(container_id: @container.id), "Box", "fa-box-open")
    = add_button(new_pallet_path(container_id: @container.id), "Pallet", "fa-pallet")
    = manage_button(container_container_items_path(@container), "Item", "fa-stethoscope")

  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @container.name
              - if @container.notes.present?
                .col-xs-12
                  %h5.text-muted Notes
                  %h4= @container.notes
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Custom ID
                %h4= @container.custom_uid
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Status
                %h4= @container.status
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Created By
                %h4= @container.user.name
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Created At
                %h4= @container.created_at.strftime("%Y-%m-%d")

          #edit.tab-pane.fade
            = render partial: "form"

      .col-md-7
        %br
        - present(@container) do |container|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Shipment
                    = container.shipment_location

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            Pallets in this Container
            %span.label{class: @container.pallets.any? ? "label-success" : "label-warning"}= @container.pallets.size
          - if @container.pallets.any?
            #pallets.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter a pallet by ID...", assoc: "pallets"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-pallets-table
                  - @container.pallets.order(:custom_uid).reverse_order.each do |pallet|
                    %tr.filter-row
                      %td= pallet.custom_uid
                      %td
                        = link_to pallet_path(pallet) do
                          = pallet.name
                      %td= pallet.status
              .close-collapse{data: {toggle: "collapse"}, href: "#pallets"}
                %span Close
          - else
            #pallets.collapse.panel-body
              %p No pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            Boxes in this Container
            %span.label{class: @container.boxes.any? ? "label-success" : "label-warning"}= @container.boxes.size
          - if @container.boxes.any?
            #boxes.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter a box by ID...", assoc: "boxes"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-boxes-table
                  - @container.boxes.order(:custom_uid).reverse_order.each do |box|
                    %tr.filter-row
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
              .close-collapse{data: {toggle: "collapse"}, href: "#boxes"}
                %span Close
          - else
            #boxes.collapse.panel-body
              %p No boxes.

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#container_items"}
            Packed Items in this Container
            %span.label{class: @container.container_items.any? ? "label-success" : "label-warning"}= @container.container_items.size
          - if @container.container_items.any?
            #container_items.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter an item by name...", assoc: "container-items"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Name
                    %th Expires
                    %th Quantity
                %tbody#filter-container-items-table
                  - @container.container_items.order(:updated_at).reverse_order.each do |ci|
                    %tr.filter-row
                      %td
                        = link_to item_path(ci.item) do
                          = ci.generated_name
                      %td= ci.expiry_date&.strftime("%Y-%m-%d")
                      %td= ci.quantity
              .close-collapse{data: {toggle: "collapse"}, href: "#container_items"}
                %span Close
          - else
            #container_items.collapse.panel-body
              %p No packed items.
