%br
.col-12.center
  = back_button(shipment_containers_path, "Containers")
  = delete_button(shipment_container_path(@shipment, @container))
  = edit_button(edit_shipment_container_path(@shipment, @container))

.col-12.center
  %table
    %caption Viewing container #{@container.name}
    %thead
      %tr
        %th{:scope => "col"} ID
        %th{:scope => "col"} Name
        %th{:scope => "col"} Status
        %th{:scope => "col"} Notes
        %th{:scope => "col"} Receiver
        %th{:scope => "col"} Shipper
    %tbody
      %tr
        %td{"data-label" => "ID"}= @container.id
        %td{"data-label" => "Name"}= @container.name
        %td{"data-label" => "Status"}= @container.status
        %td{"data-label" => "Notes"}= @container.notes
        %td{"data-label" => "Receiver"}= @container.shipment.receiving_warehouse.name
        %td{"data-label" => "Shipper"}= @container.shipment.shipping_warehouse.name

.col-12.center
  = next_button(shipment_container_pallets_path(@shipment, @container), "Pallets")
