- if @box.box_items.with_events.none?
  %p No history.
- else
  .input-group.search.span12
    .input-group
      = text_field_tag :search, params[:search], placeholder: "Quick filter an item by name...", class: "form-control", id: "quick-filter"
      %span.input-group-btn.span12
        %a{id: "quick-filter-submit"}
          .btn.btn-primary.pull-left
            %span Quick Filter
  - @box.box_items.with_events.each do |bi|
    .row.inline-add-item
      .col-xs-12.manage-item-name
        %p #{bi.generated_name}
        %i.fa.fa-ellipsis-v
      .col-xs-12.manage-item-form.hidden
        - bi.unpacking_events.order(:created_at).reverse_order.each do |event|
          %p
            • #{event.created_at.strftime("%Y-%m-%d")}:
            = link_to user_path(event.user) do
              = event.user.name
            removed #{event.quantity} #{event.quantity > 1 ? "items" : "item"}.
          - if event.notes
            %p= event.notes
          = delete_button(box_box_item_box_unpacking_event_path(@box, bi, event), "Are you sure?")
