- if @box.box_items.none?
  %h5.text-center No existing packed items. Use the tabs to search or create a new item.
- else
  %h5 Update or remove existing items packed in this box.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name or ID...", assoc: "manage-items"}
  - @box.box_items.each do |bi|
    = form_for bi, url: box_box_item_path(@box, bi) do |f|
      .row.inline-add-item
        .col-xs-12.manage-item-name{data: {unit_weight: bi.item.unit_weight.to_i, item_id: bi.item.id}}
          %p
            = bi.generated_name
            - if bi.show_id
              —
              %em.show-id ID: ##{bi.id}
          .drawer-info
            %span.label.label-success= bi.quantity
            %i.fa.fa-ellipsis-v
        .col-xs-12.manage-item-form.hidden
          .row
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :quantity
                = f.number_field :quantity, value: bi.quantity, class: "form-control", min: 1, id: "quantity-#{bi.id}"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label "Weight (kg)"
                = f.number_field :weight, step: :any, class: "form-control", id: "weight-#{bi.id}"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :expires
                = f.text_field :expiry_date, value: bi.expiry_date&.strftime("%Y-%m-%d"), class: "form-control datepickers", id: "expiry-#{bi.id}", placeholder: "YYYY-MM-DD"
            .col-xs-6.col-lg-3
              .pull-left.padding-top
                %label.padding-top Generate ID?
                = f.check_box :show_id
            .col-xs-6.col-sm-12.col-lg-3
              .form-group
                %label &nbsp;
                .btn-toolbar.list-toolbar
                  = submit_button_responsive("Update", "pull-right")
                  = delete_button(box_box_item_path(@box, bi), "Are you sure you want to delete #{bi.generated_name}?", "pull-right")
