- if @box.box_items.none?
  %p Use the tabs to search or create a new item.
- else
  .input-group.search.span12
    .input-group
      = text_field_tag :search, "", placeholder: "Filter name...", class: "form-control", id: "quick-filter"
      %span.input-group-btn.span12
        %a{id: "quick-filter-submit"}
          .btn.btn-primary.pull-left
            %span Quick Filter
  - @box.box_items.each do |bi|
    = form_for bi, url: box_box_item_path(@box, bi) do |f|
      .row.inline-add-item
        .col-xs-12.manage-item-name{data: {unit_weight: bi.item.unit_weight, item_id: bi.item.id}}
          %p= bi.generated_name
          %i.fa.fa-ellipsis-v
        .col-xs-12.manage-item-form.hidden
          .row
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :quantity
                = f.number_field :quantity, value: bi.quantity, class: "form-control", min: 1, id: "quantity-#{bi.id}"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label "Weight (g)"
                = f.number_field :weight, class: "form-control", id: "weight-#{bi.id}", placeholder: "grams"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :expires
                = f.text_field :expiry_date, value: bi.expiry_date&.strftime("%Y-%m-%d"), class: "form-control datepickers", id: "expiry-#{bi.id}", placeholder: "yyyy-mm-dd"
            .col-xs-6.col-sm-12.col-lg-3
              .form-group
                %label &nbsp;
                .btn-toolbar.list-toolbar
                  = submit_button_responsive("Update", "pull-right")
                  = delete_button(box_box_item_path(@box, bi), "Are you sure you want to delete #{bi.generated_name}?", "pull-right")
