.content
  .header
    %h1.page-title Box Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@box).breadcrumbs_item

  .main-content
    %ul.nav.nav-tabs
      - if can? :manage, PackedItem
        %li.active
          %a{data: {toggle: "tab"}, href: "#search"} Search
        %li
          %a{data: {toggle: "tab"}, href: "#new"} New
        %li
          %a{data: {toggle: "tab"}, href: "#manage-items"}
            Manage
            &nbsp;
            %span.label.label-success= @box.box_items.count
      - elsif cannot? :manage, PackedItem
        %li.active
          %a{data: {toggle: "tab"}, href: "#manage-items"}
            Inventory
            &nbsp;
            %span.label.label-success= @box.box_items.count
      - if can? :manage, UnpackingEvent
        %li
          %a{data: {toggle: "tab"}, href: "#unpack-items"}
            Unpack
            &nbsp;
            %span.label.label-info= @box.box_items.with_inventory.count
        %li
          %a{data: {toggle: "tab"}, href: "#history-items"}
            History
            &nbsp;
            %span.label.label-default= @box.box_items.with_events.count
    .row
      .col-xs-12
        %br
        .tab-content
          - if can? :manage, PackedItem
            #manage-items.tab-pane.fade
              = render "box_items/manage_form"

            #search.tab-pane.active.in
              = render "box_items/search_form"

            #new.tab-pane.fade
              = render "box_items/add_new_form"

          - elsif cannot? :manage, PackedItem
            #manage-items.tab-pane.active.in
              = render "box_items/list"

          - if can? :manage, UnpackingEvent
            #unpack-items.tab-pane.fade
              = render "box_items/unpack_form"

            #history-items.tab-pane.fade
              = render "box_items/history"
