.content
  .header
    %h1.page-title Staged Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Staged Items
    = render partial: "layouts/jump_to_modal"
    - if @packed_items.any?
      = render partial: "layouts/mass_action_modal", locals: {name: "staged items", redirect: staged_items_path, record: nil }

  .main-content
    %ul.nav.nav-tabs
      - if can? :manage, PackedItem
        %li.active
          %a{data: {toggle: "tab"}, href: "#search"} Search
        %li
          %a{data: {toggle: "tab"}, href: "#new"} New
        %li
          %a{data: {toggle: "tab"}, href: "#manage-items"}
            Manage
            %span.label.label-success= @packed_items.count
    .row
      .col-xs-12
        %br
        .tab-content
          - if can? :manage, PackedItem
            #manage-items.tab-pane.fade
              = render "manage_form"

            #search.tab-pane.active.in
              = render "search_form"

            #new.tab-pane.fade
              = render "add_new_form"
