- if @pallet.pallet_items.with_events.none?
  %h4.text-center
    No history
    %i.fa.fa-fw.fa-history
    to display.
- else
  %h5 Unpacking history for this pallet is shown here.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name...", assoc: "history-items"}
  - @pallet.pallet_items.with_events.each do |pi|
    .row.inline-add-item
      .col-xs-12.manage-item-name
        %p
          = pi.generated_name
          - if pi.show_id
            —
            %em.show-id ID: ##{pi.id}
        .drawer-info
          %span.label.label-default= pi.quantity - pi.remaining_quantity
          %i.fa.fa-ellipsis-v
      .col-xs-12.manage-item-form.hidden
        - pi.unpacking_events.order(timestamp: :desc).each do |event|
          .unpacking-entry
            .entry-info
              %p
                %strong #{event.timestamp.strftime("%Y-%m-%d")}:
                = link_to user_path(event.user) do
                  = event.user.name
                removed #{event.quantity} #{event.quantity > 1 ? "items" : "item"}. Sent to #{event.hospital.name}.
                - unless event.notes.blank?
                  Note:
                  %em= event.notes
            .action-container
              - if current_user.admin? || current_user.receiving_manager?
                = form_for event, url: unpacking_event_path(event) do |f|
                  - timestamp = event.timestamp.strftime("%Y-%m-%d")
                  = f.text_field :timestamp, value: timestamp, placeholder: "YYYY-MM-DD", class: "form-control datepickers"
                  = submit_button_responsive("Update", "pull-right btn-xs")
                = delete_button(pallet_pallet_item_pallet_unpacking_event_path(@pallet, pi, event), "Are you sure you want to delete this unpacking entry?", "pull-right btn-xs")
        %hr
        .unpacking-entry
          .entry-info
            %p Current inventory remaining: #{pi.remaining_quantity}
