.content
  .header
    %h1.page-title Pallet Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs_item
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#manage"} Manage
      %li
        %a{data: {toggle: "tab"}, href: "#search"} Search
      %li
        %a{data: {toggle: "tab"}, href: "#new"} New
      %li
        %a{data: {toggle: "tab"}, href: "#unpack"} Unpack
      %li
        %a{data: {toggle: "tab"}, href: "#history"} History
    .row
      .col-xs-12
        %br
        .tab-content
          #manage.tab-pane.active.in
            = render "pallet_items/manage_form"

          #search.tab-pane.fade
            = render "pallet_items/search_form"

          #new.tab-pane.fade
            = render "pallet_items/add_new_form"

          #unpack.tab-pane.fade
            = render "pallet_items/unpack_form"

          #history.tab-pane.fade
            = render "pallet_items/history"
