.content
  .header
    %h1.page-title Hospitals
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Hospitals", hospitals_path
      %li.active= @hospital.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      #myTabContent.tab-content
        #view.tab-pane.active.in
          %br
          .col-xs-12
            %h5.text-muted Name
            %h4= @hospital.name
            %hr
          - if @hospital.description.present?
            .col-xs-12
              %h6.text-muted Description
              %h5= @hospital.description
          - unless @hospital.full_address.blank?
            .col-xs-12
              %h6.text-muted Address
              %h5= @hospital.full_address
          .col-lg-3.col-sm-4.col-xs-6
            %h6.text-muted Phone
            %h5= @hospital.phone
          .col-lg-3.col-sm-4.col-xs-6
            %h6.text-muted Status
            %h5{style: "color: #{@hospital.active? ? "#02a556" : "#ff4d4d"}"}= @hospital.status
          .col-lg-3.col-sm-4.col-xs-6
            %h6.text-muted Created By
            %h5= @hospital.user.name
          .col-lg-3.col-sm-4.col-xs-6
            %h6.text-muted Created At
            %h5= @hospital.created_at.strftime("%Y-%m-%d")

        #edit.tab-pane.fade
          %br
          = render partial: "form"
