.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Unpacking History for #{current_user.warehouse.name}
    = render partial: "layouts/jump_to_modal"
  .main-content
    - if @events.any?
      %table.table.table-striped.table-hover.link-rows
        %thead
          %tr
            %th Item
            %th Quantity
            %th Origin
            %th.hidden-xs Destination
            %th.hidden-xs User
            %th Date
        %tbody
          - @events.each do |event|
            %tr
              %td
                = link_to present(event.packed_item).path do
                  %p= event.generated_name
              %td
                = link_to present(event.packed_item).path do
                  %p= event.quantity
              %td
                = link_to present(event.packed_item).path do
                  %p= event.packed_item.location_name
              %td.hidden-xs
                = link_to present(event.packed_item).path do
                  %p= event.hospital.name
              %td.hidden-xs
                = link_to present(event.packed_item).path do
                  %p= event.user.name
              %td
                = link_to present(event.packed_item).path do
                  %p= event.created_at.strftime("%Y-%m-%d")

    - else
      %h5.text-center No history yet.

    = paginate @events, window: 2
