- user = @pallet.user&.name || current_user.name
- time = @pallet.created_at&.strftime("%Y-%m-%d") || DateTime.now.strftime("%Y-%m-%d")
- container_id = @pallet.container_id.presence || params[:container_id]
= form_for @pallet do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    %label Custom ID
    = f.number_field :custom_uid, min: 0, class: "form-control"
  .form-group
    = f.label :status
    = f.select :status, options_for_select(Pallet::STATUSES, @pallet.status), {}, { class: "form-control", id: "status" }
  .form-group
    = f.label :notes
    = f.text_field :notes, class: "form-control"
  .form-group
    %label Container Assignment
    = f.select :container_id, options_from_collection_for_select(Container.accessible_by(current_ability).order(:name), :id, :name, container_id), { include_blank: "Staged" }, { class: "form-control", id: "container-assignment" }
  .form-group
    %label Created By
    = f.text_field :user, value: user, disabled: true, class: "form-control"
  .form-group
    %label Created At
    = f.text_field :created_at, value: time, disabled: true, class: "form-control"

  .btn-toolbar.list-toolbar
    - if @pallet.persisted?
      = delete_button(pallet_path(@pallet), "Are you sure you want to delete #{@pallet.name}? This cannot be reversed")
    = submit_button_responsive("Save")

= render partial: "layouts/status_modal", locals: {title: "Status Change Warning", body: "Boxes within this pallet will automatically inherit this new status."}
= render partial: "layouts/assignment_modal", locals: {title: "Assignment Change Warning", body: "Unassigning this pallet from a container could result in errors."}
