- @pallets ||= pallets
%table.table.table-striped.table-hover.link-rows
  %thead
    %tr
      %th Custom ID
      %th Name
      %th Status
      %th.hidden-xs Receiver
      %th.hidden-xs Created At
      %th.mass-action-cell
  %tbody
    - @pallets.each do |pallet|
      %tr
        %td
          = link_to pallet_path(pallet) do
            %p= pallet.custom_uid
        %td
          = link_to pallet_path(pallet) do
            %p= pallet.name
        %td
          = link_to pallet_path(pallet) do
            %p{class: "status-#{pallet.status.parameterize}"}= pallet.status
        %td.hidden-xs
          = link_to pallet_path(pallet) do
            %p= pallet.shipment&.receiving_warehouse&.name
        %td.hidden-xs
          = link_to pallet_path(pallet) do
            %p= pallet.created_at.strftime("%Y-%m-%d")
        %td.mass-action-cell
          = check_box_tag "pallet_ids[]", pallet.id, false, class: "mass-action-table", form: "mass_action", id: "mass-action-pallet-#{pallet.id}"
