.content
  .header
    %h1.page-title #{params[:display].present? ? params[:display].titleize + " " : "" }Pallets
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display].present? ? params[:display].titleize + " " : "" }Pallets
    - if can? :create, Pallet
      = add_button(new_pallet_path, "Pallet", "fa-pallet")

    = form_for :pallet, url: find_pallet_path, html: {class: "inline-search-form" } do |f|
      = submit_button("Go To", nil, "fa-search")
      = f.number_field :custom_uid, {placeholder: "Custom ID"}

    - if @pallets.any?
      %button.btn.btn-primary{data: {target: "#mass-action-modal", toggle: "modal"}, disabled: true}
        %span.mass-action-count Mass Action
        %i.fa.fa-angle-double-right
      = render partial: "layouts/mass_action_modal", locals: {name: "pallets", redirect: pallets_path(display: params[:display]), record: nil }

  .main-content
    - if @pallets.any?
      = render "table"
      = paginate @pallets, window: 2

    - else
      %h4.text-center No #{params[:display].present? ? params[:display] + " " : "" }pallets.
