.content
  .header
    %h1.page-title Pallets
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display]&.titleize} Pallets
    = add_button(new_pallet_path, "Unassigned Pallet", "fa-pallet")
  .main-content
    %table.table
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-xs Receiver
          %th.hidden-xs Shipper
          %th.hidden-xs Created At
      %tbody
        - @pallets.each do |pallet|
          %tr
            %td= pallet.custom_uid
            %td
              = link_to pallet_path(pallet) do
                = pallet.name
            %td= pallet.status
            %td.hidden-xs= pallet.shipment&.receiving_warehouse&.name
            %td.hidden-xs= pallet.shipment&.shipping_warehouse&.name
            %td.hidden-xs= pallet.created_at.strftime("%Y-%m-%d")

    = paginate @pallets
