.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs
    = render partial: "layouts/jump_to_modal"
    - if can? :manage, Pallet
      = render partial: "layouts/edit_modal"
    - if can? :read, PackedItem
      = manage_button(pallet_pallet_items_path(@pallet), "Items", "fa-stethoscope")
    - if can? :manage, PackedItem
      = render partial: "layouts/mass_action_modal", locals: {name: @pallet.name, redirect: pallet_path(@pallet), record: @pallet}
    - if current_user.admin? || current_user.receiving_manager?
      = render partial: "layouts/pallets_unpack_all_modal"

  .main-content
    .row
      .col-md-5
        .row
          .col-xs-12
            %h5.text-muted Name
            %h4= @pallet.name
            %hr
          - if @pallet.notes.present?
            .col-xs-12
              %h6.text-muted Notes
              %h5= @pallet.notes
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Custom ID
            %h5= @pallet.custom_uid
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Status
            %h5{class: "status-#{@pallet.status.parameterize}"}= @pallet.status
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Weight (kg)
            %h5= @pallet.weight.to_f.round(4) || "N/A"
          - if @pallet.category
            .col-xs-6.col-sm-4.col-md-6
              %h6.text-muted Category
              %h5= @pallet.category.name
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created By
            %h5= @pallet.user.name
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created At
            %h5= @pallet.created_at.strftime("%Y-%m-%d")

      .col-md-7
        %br
        - present(@pallet) do |pallet|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              %i.fa.fa-map-marker-alt
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Warehouse
                    = pallet.warehouse_location
                  %tr
                    %td
                      %p Shipment
                    = pallet.shipment_location
                  %tr
                    %td
                      %p Container
                    = pallet.container_location

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            %i.fa.fa-box-open
            Boxes on this Pallet
            %span.label{class: @pallet.boxes.any? ? "label-success" : "label-warning"}= @pallet.boxes.size

          - if @pallet.boxes.any?
            #boxes.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "boxes"}
              = render partial: "boxes/micro_table", locals: {boxes: @pallet.boxes, table_id: "filter-boxes-table"}
              .close-collapse{data: {toggle: "collapse"}, href: "#boxes"}
                %span Close
          - else
            #boxes.collapse.panel-body
              %h5.text-center
                No boxes
                %i.fa.fa-box-open
                assigned to this pallet
                %i.fa.fa-pallet

        .panel.panel-default
          %a.panel-heading.collapsed{class: (@pallet.pallet_items.count > 5 && "collapsed"), data: {toggle: "collapse"}, href: "#packed-items"}
            %i.fa.fa-stethoscope
            Palletized Items
            %span.label{class: @pallet.pallet_items.any? ? "label-success" : "label-warning"}= @pallet.pallet_items.size

          - if @pallet.pallet_items.any?
            #packed-items.collapse{class: (@pallet.pallet_items.count < 6 && "in")}
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "packed-items"}
              = render partial: "packed_items/micro_table", locals: {packed_items: @pallet.pallet_items, assoc: "packed-items"}
              .close-collapse{data: {toggle: "collapse"}, href: "#packed-items"}
                %span Close
          - else
            #packed-items.collapse.panel-body
              %h5.text-center
                No packed items
                %i.fa.fa-stethoscope
                on this pallet
                %i.fa.fa-pallet

        .panel.panel-default
          %a.panel-heading.collapsed{class: (@pallet.box_items.count > 5 && "collapsed"), data: {toggle: "collapse"}, href: "#boxed-items"}
            %i.fa.fa-stethoscope
            Packed Items in Boxes
            %span.label{class: @pallet.box_items.any? ? "label-success" : "label-warning"}= @pallet.box_items.size

          - if @pallet.box_items.any?
            #boxed-items.collapse{class: (@pallet.box_items.count < 6 && "in")}
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "boxed-items"}
              = render partial: "packed_items/micro_table", locals: {packed_items: @pallet.box_items, assoc: "boxed-items"}
              .close-collapse{data: {toggle: "collapse"}, href: "#boxed-items"}
                %span Close
          - else
            #boxed-items.collapse.panel-body
              %h5.text-center
                No packed items
                %i.fa.fa-stethoscope
                in any boxes
                %i.fa.fa-box-open

  - if (can? :manage, PackedItem) && (@staged_items.any? || @staged_boxes.any? || @warehoused_items.any? || @warehoused_boxes.any?)
    = render "layouts/mass_action_add", display: %i[items boxes]
