.content
  .header
    %h1.page-title= @pallet.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs

    = link_to pallet_pallet_items_path(@pallet) do
      Manage or add items to this pallet.
    %br
    %br
    = link_to new_box_path(pallet_id: @pallet.id) do
      Add a box to this pallet.
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @pallet.name
              - if @pallet.notes.present?
                .col-md-12
                  %h5.text-muted Notes
                  %h4= @pallet.notes
              .col-xs-6
                %h5.text-muted Custom ID
                %h4= @pallet.custom_uid
              .col-xs-6
                %h5.text-muted Status
                %h4= @pallet.status
              .col-xs-6
                %h5.text-muted Created By
                %h4= @pallet.user.name
              .col-xs-6
                %h5.text-muted Created At
                %h4= @pallet.created_at.strftime("%Y-%m-%d")

          #edit.tab-pane.fade
            = render partial: "form"

      .col-md-7
        %br
        - present(@pallet) do |pallet|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Container
                    = pallet.container_location
                  %tr
                    %td
                      %p Shipment
                    = pallet.shipment_location

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            Boxes on this Pallet (#{@pallet.boxes.size})
          - if @pallet.boxes.any?
            #boxes.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @pallet.boxes.each do |box|
                    %tr
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
          - else
            #boxes.collapse.in.panel-body
              %h4 No boxes.
              = link_button("Create a Box", new_box_path(pallet_id: @pallet.id), "pull-left")

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#palletditems"}
            Loose Items on this Pallet (#{@pallet.pallet_items.size})
          - if @pallet.pallet_items.any?
            #palletitems.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Name
                    %th Expiry Date
                    %th Quantity
                %tbody
                  - @pallet.pallet_items.each do |pi|
                    %tr
                      %td
                        = link_to item_path(pi.item) do
                          = pi.generated_name
                      %td= pi.expiry_date&.strftime("%Y-%m-%d")
                      %td= pi.quantity
          - else
            #palletitems.collapse.in.panel-body
              %h5 No loose items on this pallet.
