.content
  .header
    %h1.page-title= @pallet.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs

    = link_index_button(pallets_path, "fa-pallet")
    - if can? :create, Box
      = add_button(new_box_path(pallet_id: @pallet.id), "Box", "fa-box-open")
    = manage_button(pallet_pallet_items_path(@pallet), "Items", "fa-stethoscope")

  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      - if can? :manage, Pallet
        %li
          %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @pallet.name
                %hr
              - if @pallet.notes.present?
                .col-xs-12
                  %h6.text-muted Notes
                  %h5= @pallet.notes
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Custom ID
                %h5= @pallet.custom_uid
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Status
                %h5{class: "status-#{@pallet.status.parameterize}"}= @pallet.status
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Weight (kg)
                %h5= @pallet.weight || "N/A"
              - if @pallet.category
                .col-xs-6.col-sm-4.col-md-6
                  %h6.text-muted Category
                  %h5= @pallet.category.name
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Created By
                %h5= @pallet.user.name
              .col-xs-6.col-sm-4.col-md-6
                %h6.text-muted Created At
                %h5= @pallet.created_at.strftime("%Y-%m-%d")

          - if can? :manage, Pallet
            #edit.tab-pane.fade
              = render partial: "form"

      .col-md-7
        %br
        - present(@pallet) do |pallet|
          .panel.panel-default
            %a.panel-heading{data: {toggle: "collapse"}, href: "#location"}
              %i.fa.fa-map-marker-alt
              Location Details
            #location.collapse.in
              %table.table.list
                %tbody
                  %tr
                    %td
                      %p Warehouse
                    = pallet.warehouse_location
                  %tr
                    %td
                      %p Shipment
                    = pallet.shipment_location
                  %tr
                    %td
                      %p Container
                    = pallet.container_location

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            %i.fa.fa-box-open
            Boxes on this Pallet
            %span.label{class: @pallet.boxes.any? ? "label-success" : "label-warning"}= @pallet.boxes.size

          - if @pallet.boxes.any?
            #boxes.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "boxes"}
              %table.table.table-striped.link-rows
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-boxes-table
                  - @pallet.boxes.order(:custom_uid).reverse_order.each do |box|
                    %tr.filter-row
                      %td
                        = link_to box_path(box) do
                          %p= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          %p= box.name
                      %td
                        = link_to box_path(box) do
                          %p{class: "status-#{box.status.parameterize}"}= box.status
              .close-collapse{data: {toggle: "collapse"}, href: "#boxes"}
                %span Close
          - else
            #boxes.collapse.panel-body
              %h5.text-center No boxes on this pallet.

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#pallet_items"}
            %i.fa.fa-stethoscope
            Packed Items on this Pallet
            %span.label{class: @pallet.pallet_items.any? ? "label-success" : "label-warning"}= @pallet.pallet_items.size

          - if @pallet.pallet_items.any?
            #pallet_items.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "pallet-items"}
              %table.table.table-striped.link-rows
                %thead
                  %tr
                    %th Name
                    %th Expires
                    %th Quantity
                %tbody#filter-pallet-items-table
                  - @pallet.pallet_items.order(:updated_at).reverse_order.each do |pi|
                    %tr.filter-row
                      %td
                        = link_to item_path(pi.item) do
                          %p= pi.generated_name
                      %td
                        = link_to item_path(pi.item) do
                          %p= pi.expiry_date&.strftime("%Y-%m-%d")
                      %td
                        = link_to item_path(pi.item) do
                          %p= pi.quantity
              .close-collapse{data: {toggle: "collapse"}, href: "#pallet_items"}
                %span Close
          - else
            #pallet_items.collapse.panel-body
              %h5.text-center No packed items on this pallet.
