- if @search_results_items.none?
  .form-group.padding-top-small
    %h5.text-center No results. The item may already be added or try simplifying your search term or removing hyphens, parentheses, periods and plurals.
  .form-group.padding-top-small
    %h5.text-center
      Still unable to find your item? Use the
      %em New
      tab to create one.
- else
  - @search_results_items.each do |item|
    -# @param item [array][0]: id, [1]:generated_name, [2]:unit_weight
    = form_for :packed_item, url: form_path, method: :post do |f|
      .row.inline-add-item
        .col-xs-12.results-item-name{data: {unit_weight: item[2], item_id: item[0]}}
          %p= item[1]
          %i.fa.fa-ellipsis-v
        .col-xs-12.results-item-form.hidden
          .row
            .col-xs-6.col-sm-3
              .form-group
                = f.label :quantity
                = f.number_field :quantity, value: 1, class: "form-control", min: 1, id: "quantity-#{item[0]}"
                = f.hidden_field :item_id, value: item[0], id: "item-#{item[0]}"
                = f.hidden_field :status, value: status, id: "status-#{item[0]}"
            .col-xs-6.col-sm-3
              .form-group
                = f.label "Weight (kg)"
                = f.number_field :weight, step: :any, class: "form-control", id: "weight-#{item[0]}"
            .col-xs-6.col-sm-3
              .form-group
                = f.label :expires
                = f.text_field :expiry_date, value: "", class: "form-control datepickers", id: "expiry-#{item[0]}", placeholder: "yyyy-mm-dd"
            .col-xs-6.col-sm-3
              .padding-top
                = f.label "Generate ID?", class: "padding-top"
                = f.check_box :show_id, value: false, id: "show-id-#{item[0]}"
            .col-xs-12
              .form-group
                %label &nbsp;
                .btn-toolbar.list-toolbar
                  %a{id: "estimate-item-#{item[0]}"}
                    .btn.btn-primary.pull-left
                      %span Estimate
                  = submit_button("Add", "pull-right")
