- if @search_results_items.none?
  .form-group.padding-top-small
    No results. The item may already be added or try simplifying your search by removing hyphens, avoiding plurals...
  .form-group.padding-top-small
    %span
      Still unable to find your item? Use the
      %em New
      tab to create a new one.
- else
  - @search_results_items.each do |item|
    = form_for :packed_item, url: form_path, method: :post do |f|
      .row.padding-top-small.inline-add-item
        .col-xs-12
          .form-group
            %p.margin-bottom-0= item.generated_name
        .form-group
          .col-xs-6
            = f.text_field :expiry_date, value: "", class: "form-control datepickers", id: "item-#{item.id}", placeholder: "Expiry Date"
        .col-xs-4
          .form-group
            = f.number_field :quantity, value: 1, class: "form-control", min: 1
            = f.hidden_field :item_id, value: item.id
        .col-xs-2
          .btn-toolbar.list-toolbar
            = submit_button(" Add", "pull-right")
