.content
  .header
    %h1.page-title Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Items
    = add_button(new_item_path, "Item", "fa-stethoscope")
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th Category
          %th.hidden-xs Verified
          %th.hidden-xs Flagged
      %tbody
        - @items.each do |item|
          %tr
            %td
              = link_to item_path(item) do
                %p= item.generated_name
            %td
              = link_to item_path(item) do
                %p= item.category&.name
            %td.hidden-xs
              = link_to item_path(item) do
                - if item.verified
                  %p.text-success= item.verified.to_s.capitalize
                - else
                  %p.text-danger= item.verified.to_s.capitalize
            %td.hidden-xs
              = link_to item_path(item) do
                - if item.flagged
                  %p.text-danger= item.flagged&.to_s.capitalize
                - else
                  %p.text-success= item.flagged&.to_s.capitalize


    = paginate @items, window: 2
