.content
  .header
    %h1.page-title Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Items
    = add_button(new_item_path, "Item", "fa-stethoscope")
    = render partial: "layouts/jump_to_modal"
  .main-content
    = render partial: "search_form", locals: { path: "/index_item_search" }
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th.hidden-xs Category
          %th.hidden-xs Verified
      %tbody#search-results
        = render "table"

    = paginate @items, window: 2
