.content
  .header
    %h1.page-title Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Items
    = add_button(new_item_path, "Item", "fa-stethoscope")
  .main-content
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Category
          %th.hidden-xs Created By
          %th.hidden-xs Created At
          %th Verified
      %tbody
        - @items.each do |item|
          %tr
            %td
              = link_to item_path(item) do
                = item.generated_name
            %td= item.category&.name
            %td.hidden-xs= item.user.name
            %td.hidden-xs= item.created_at.strftime("%Y-%m-%d")
            %td= item.verified.to_s.capitalize

    = paginate @items, window: 2
