= form_for @container, url: container_add_with_item_path, method: :post do |f|
  .row.padding-top-small
    .col-xs-6.col-sm-4
      .form-group
        %label Quantity
        = number_field_tag :quantity, 1, min: 1, class: "form-control"
    .col-xs-6.col-sm-4
      .form-group
        %label Weight
        = number_field_tag :weight, 0, min: 0, class: "form-control"
    .col-xs-12.col-sm-4
      .form-group
        %label Expiry Date
        = text_field_tag :expiry_date, "", placeholder: "YYYY-MM-DD", class: "form-control datepickers"

  = render partial: "items/form", locals: { item: Item.new }
