- if @container.container_items.none?
  %p Use the tabs to search or create a new item.
- else
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name...", assoc: "manage-items"}
  - @container.container_items.each do |ci|
    = form_for ci, url: container_container_item_path(@container, ci) do |f|
      .row.inline-add-item
        .col-xs-12.manage-item-name{data: {unit_weight: ci.item.unit_weight, item_id: ci.item.id}}
          %p= ci.generated_name
          %i.fa.fa-ellipsis-v
        .col-xs-12.manage-item-form.hidden
          .row
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :quantity
                = f.number_field :quantity, value: ci.quantity, class: "form-control", min: 1, id: "quantity-#{ci.id}"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label "Weight (g)"
                = f.number_field :weight, class: "form-control", id: "weight-#{ci.id}", placeholder: "grams"
            .col-xs-6.col-sm-4.col-lg-3
              .form-group
                = f.label :expires
                = f.text_field :expiry_date, value: ci.expiry_date&.strftime("%Y-%m-%d"), class: "form-control datepickers", id: "expiry-#{ci.id}", placeholder: "yyyy-mm-dd"
            .col-xs-6.col-sm-12.col-lg-3
              .form-group
                %label &nbsp;
                .btn-toolbar.list-toolbar
                  = submit_button_responsive("Update", "pull-right")
                  = delete_button(container_container_item_path(@container, ci), "Are you sure you want to delete #{ci.generated_name}?", "pull-right")
