.content
  .header
    %h1.page-title Container Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs_item
  .main-content
    %ul.nav.nav-tabs
      - if can? :manage, PackedItem
        %li.active
          %a{data: {toggle: "tab"}, href: "#search"} Search
        %li
          %a{data: {toggle: "tab"}, href: "#new"} New
        %li
          %a{data: {toggle: "tab"}, href: "#manage-items"}
            Manage
            %span.label.label-success= @container.container_items.count
      - elsif cannot? :manage, PackedItem
        %li.active
          %a{data: {toggle: "tab"}, href: "#manage-items"}
            Inventory
            %span.label.label-success= @container.container_items.count

      - if can? :manage, UnpackingEvent
        %li
          %a{data: {toggle: "tab"}, href: "#unpack-items"}
            Unpack
            %span.label.label-info= @container.container_items.with_inventory.count
        %li
          %a{data: {toggle: "tab"}, href: "#history-items"}
            History
            %span.label.label-default= @container.container_items.with_events.count

    .row
      .col-xs-12
        %br
        .tab-content
          - if can? :manage, PackedItem
            #manage-items.tab-pane.fade
              = render "container_items/manage_form"

            #search.tab-pane.active.in
              = render "container_items/search_form"

            #new.tab-pane.fade
              = render "container_items/add_new_form"

          - elsif cannot? :manage, PackedItem
            #manage-items.tab-pane.active.in
              = render "container_items/list"

          - if can? :manage, UnpackingEvent
            #unpack-items.tab-pane.fade
              = render "container_items/unpack_form"

            #history-items.tab-pane.fade
              = render "container_items/history"
