.content
  .header
    %h1.page-title Container Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs_item
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#manage"} Manage
      %li
        %a{data: {toggle: "tab"}, href: "#search"} Search
      %li
        %a{data: {toggle: "tab"}, href: "#new"} New
    .row
      .col-xs-12
        %br
        .tab-content
          #manage.tab-pane.active.in
            = render "container_items/manage_form"

          #search.tab-pane.fade
            = render "container_items/search_form"

          #new.tab-pane.fade
            = render "container_items/add_new_form"
