= form_for @category do |f|
  .col-xs-12.col-sm-4
    .form-group
      %label Name
      = f.text_field :name, class: "form-control"
  .col-xs-12.col-sm-8
    .form-group
      %label Description
      = f.text_field :description, class: "form-control"

  .col-xs-12
    .btn-toolbar.list-toolbar
      - if @category.persisted? && @category.items.none?
        = delete_button(category_path(@category), "Are you sure you want to delete #{@category.name}? This cannot be reversed")
      - else
        = submit_button_responsive("Save")
