.content
  .header
    %h1.page-title Categories
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Categories
  .main-content
    .btn-toolbar.list-toolbar
      = link_button("New Category", new_category_path, "pull-left")
    %table.table
      %thead
        %tr
          %th Name
          %th Description
          %th Created By
          %th Created At
      %tbody
        - @categories.each do |category|
          %tr
            %td
              = link_to category_path(category) do
                = category.name
            %td= category.description
            %td= category.user.name
            %td= category.created_at.strftime("%Y-%m-%d")

    = paginate @categories
