.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Categories
    = render partial: "layouts/jump_to_modal"
    = add_button(new_category_path, "Category", "fa-file-medical")
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th.hidden-xs Description
      %tbody
        - @categories.each do |category|
          %tr
            %td
              = link_to category_path(category) do
                %p= category.name
            %td.hidden-xs
              = link_to category_path(category) do
                %p= category.description

    = paginate @categories, window: 2
