.content
  .header
    %h1.page-title Categories
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Categories", categories_path
      %li.active= @category.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      #myTabContent.tab-content
        #view.tab-pane.active.in
          %br
          .col-xs-12
            %h5.text-muted Name
            %h4= @category.name
          - if @category.description.present?
            .col-xs-12
              %h5.text-muted Description
              %h4= @category.description
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Items with this Category
            %h4= @category.items.count
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Created By
            %h4= @category.user.name
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Created At
            %h4= @category.created_at.strftime("%Y-%m-%d")

        #edit.tab-pane.fade
          %br
          = render partial: "form"
