.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Categories", categories_path
      %li.active= @category.name
    = render partial: "layouts/jump_to_modal"
    = render partial: "layouts/edit_modal"
  .main-content
    .row
      .col-xs-12
        %h5.text-muted Name
        %h4= @category.name
        %hr
      - if @category.description.present?
        .col-xs-12
          %h6.text-muted Description
          %h5= @category.description
      .col-lg-3.col-sm-4.col-xs-6
        = link_to items_path(category: @category.id) do
          %h6.text-muted
            Items with this Category
            %i.fa.fa-search
          %h5= @category.items.count
      .col-lg-3.col-sm-4.col-xs-6
        %h6.text-muted Created By
        %h5= @category.user.name
      .col-lg-3.col-sm-4.col-xs-6
        %h6.text-muted Created At
        %h5= @category.created_at.strftime("%Y-%m-%d")
