%br
.col-12.center
  = back_button(categories_path, "Categories")
  = delete_button(category_path(@category))
  = edit_button(edit_category_path(@category))
.col-12.center
  %table
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Description
        %th{:scope => "col"} Created By
        %th{:scope => "col"} Created At
    %tbody
      %tr
        %td{"data-label" => "Name"}= @category.name
        %td{"data-label" => "Description"}= @category.description
        %td{"data-label" => "Created By"}= @category.user.name
        %td{"data-label" => "Created At"}= @category.created_at.strftime("%Y-%m-%d")
