= form_for Export.new("Shipment", @shipment.id), url: exports_path do |f|
  %h4 Select a grouping strategy.
  .form-group
    %label By Item Category
    = f.radio_button :group_by, "category", checked: true
  .form-group
    %label By Item
    = f.radio_button :group_by, "item"
  -# %h3 Sorting
  -# .form-group
  -#   %label Sort By Name A-Z
  -#   = f.radio_button :sort_by, "asc"
  -# .form-group
  -#   %label Sort By Name Z-A
  -#   = f.radio_button :sort_by, "desc"

  = f.hidden_field :klass, value: "Shipment"
  = f.hidden_field :id, value: @shipment.id

  = submit_export
