= form_for @shipment do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    %label Custom ID
    = f.number_field :custom_uid, min: 0, class: "form-control"
  .form-group
    = f.label :status
    = f.select :status, options_for_select(current_user.selectable_statuses(Shipment), @shipment.status), {}, { class: "form-control", id: "status" }
  .form-group
    = f.label :shipping_warehouse_id
    = f.select :shipping_warehouse_id, options_from_collection_for_select(Warehouse.order(:name), :id, :name, @shipment.shipping_warehouse_id), { include_blank: "" }, { class: "form-control" }
  .form-group
    = f.label :receiving_warehouse_id
    = f.select :receiving_warehouse_id, options_from_collection_for_select(Warehouse.order(:name), :id, :name, @shipment.receiving_warehouse_id), { include_blank: "" }, { class: "form-control" }
  .form-group
    = f.label :notes
    = f.text_field :notes, class: "form-control"

  .btn-toolbar.list-toolbar
    - if @shipment.persisted?
      = delete_button(shipment_path(@shipment), "Are you sure you want to delete #{@shipment.name}? This cannot be reversed")
    = submit_button_responsive("Save")
