.content
  .header
    %h1.page-title Shipments
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active #{params[:display]&.titleize} Shipments
  .main-content
    .btn-toolbar.list-toolbar
      = link_button("New Shipment", new_shipment_path, "pull-left")
    %table.table
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th Receiver
          %th Shipper
          %th Created At
      %tbody
        - @shipments.each do |shipment|
          %tr
            %td= shipment.custom_uid
            %td
              = link_to shipment_path(shipment) do
                = shipment.name
            %td= shipment.status
            %td= shipment.receiving_warehouse.name
            %td= shipment.shipping_warehouse.name
            %td= shipment.created_at.strftime("%Y-%m-%d")

    = paginate @shipments
