.content
  .header
    %h1.page-title Shipments
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Shipments
    = add_button(new_shipment_path, "Shipment", "fa-ship")
  .main-content
    %table.table.table-striped
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th Receiver
          %th.hidden-xs Shipper
          %th.hidden-xs Created At
      %tbody
        - @shipments.each do |shipment|
          %tr
            %td= shipment.custom_uid
            %td
              = link_to shipment_path(shipment) do
                = shipment.name
            %td= shipment.status
            %td= shipment.receiving_warehouse.name
            %td= shipment.shipping_warehouse.name
            %td.hidden-xs= shipment.created_at.strftime("%Y-%m-%d")

    = paginate @shipments, window: 2
