.content
  .header
    %h1.page-title Shipments
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Shipments
    - if can? :manage, Shipment
      = add_button(new_shipment_path, "Shipment", "fa-ship")
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Custom ID
          %th Name
          %th Status
          %th.hidden-xs Receiver
          %th.hidden-xs Created At
      %tbody
        - @shipments.each do |shipment|
          %tr
            %td
              = link_to shipment_path(shipment) do
                %p= shipment.custom_uid
            %td
              = link_to shipment_path(shipment) do
                %p= shipment.name
            %td
              = link_to shipment_path(shipment) do
                %p{class: "status-#{shipment.status.parameterize}"}= shipment.status
            %td.hidden-xs
              = link_to shipment_path(shipment) do
                %p= shipment.receiving_warehouse.name
            %td.hidden-xs
              = link_to shipment_path(shipment) do
                %p= shipment.created_at.strftime("%Y-%m-%d")

    = paginate @shipments, window: 2
