.content
  .header
    %h1.page-title Shipments
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Shipments", shipments_path
      %li.active= @shipment.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
      %li
        = link_to new_container_path(shipment_id: @shipment.id) do
          New Container
      %li
        %a{data: {toggle: "tab"}, href: "#export"} Export

    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            = render partial: "form", locals: { no_edit: true, delete: true }

          #edit.tab-pane.fade
            = render partial: "form", locals: { no_edit: false, delete: false }

          #export.tab-pane.fade
            = render partial: "export"

      .col-md-7
        %br
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#containers"}
            Containers in this Shipment (#{@shipment.containers.size})
          - if @shipment.containers.any?
            #containers.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.containers.each do |container|
                    %tr
                      %td= container.custom_uid
                      %td
                        = link_to container_path(container) do
                          = container.name
                      %td= container.status
          - else
            #containers.collapse.in.panel-body
              %h4 No containers.
              = link_button("Create a Container", new_container_path(shipment_id: @shipment.id), "pull-left")

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            Pallets in all Containers (#{@shipment.pallets.size})
          - if @shipment.pallets.any?
            #pallets.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.pallets.each do |pallet|
                    %tr
                      %td= pallet.custom_uid
                      %td
                        = link_to pallet_path(pallet) do
                          = pallet.name
                      %td= pallet.status
          - else
            #pallets.collapse.in.panel-body
              %h4 No pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            Boxes on all Pallets (#{@shipment.boxes.size})
          - if @shipment.boxes.any?
            #boxes.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.boxes.each do |box|
                    %tr
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
          - else
            #boxes.collapse.in.panel-body
              %h4 No boxes.
