.content
  .header
    %h1.page-title= @shipment.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active= @shipment.name

    = link_to new_container_path(shipment_id: @shipment.id) do
      Add a container to this shipment.
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @shipment.name
              - if @shipment.notes.present?
                .col-md-12
                  %h5.text-muted Notes
                  %h4= @shipment.notes
              .col-md-3.col-xs-6
                %h5.text-muted Receiving Warehouse
                %h4= @shipment.receiving_warehouse&.name || "N/A"
              .col-md-3.col-xs-6
                %h5.text-muted Shipping Warehouse
                %h4= @shipment.shipping_warehouse&.name || "N/A"
              .col-md-3.col-xs-6
                %h5.text-muted Custom ID
                %h4= @shipment.custom_uid
              .col-md-3.col-xs-6
                %h5.text-muted Status
                %h4= @shipment.status
              .col-md-3.col-xs-6
                %h5.text-muted Created By
                %h4= @shipment.user.name
              .col-md-3.col-xs-6
                %h5.text-muted Created At
                %h4= @shipment.created_at.strftime("%Y-%m-%d")

          #edit.tab-pane.fade
            = render partial: "form"

      .col-md-7
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#containers"}
            Containers in this Shipment (#{@shipment.containers.size})
          - if @shipment.containers.any?
            #containers.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.containers.each do |container|
                    %tr
                      %td= container.custom_uid
                      %td
                        = link_to container_path(container) do
                          = container.name
                      %td= container.status
          - else
            #containers.collapse.in.panel-body
              %h4 No containers.
              = link_button("Create a Container", new_container_path(shipment_id: @shipment.id), "pull-left")

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            Pallets in all Containers (#{@shipment.pallets.size})
          - if @shipment.pallets.any?
            #pallets.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.pallets.each do |pallet|
                    %tr
                      %td= pallet.custom_uid
                      %td
                        = link_to pallet_path(pallet) do
                          = pallet.name
                      %td= pallet.status
          - else
            #pallets.collapse.in.panel-body
              %h4 No pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#boxes"}
            Boxes on all Pallets (#{@shipment.boxes.size})
          - if @shipment.boxes.any?
            #boxes.collapse.in
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.boxes.each do |box|
                    %tr
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
          - else
            #boxes.collapse.in.panel-body
              %h4 No boxes.
