.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active= @shipment.name
    - if can? :manage, Shipment
      = render partial: "layouts/edit_modal"
    - if can? :create, Container
      = add_button(new_container_path(shipment_id: @shipment.id), "Container", "fa-truck")
    = render partial: "layouts/jump_to_modal"
    - if can? :manage, Shipment
      = render "layouts/export_modal"
    - if can? :create, Pallet
      = render partial: "layouts/mass_action_modal", locals: {name: @shipment.name, redirect: shipment_path(@shipment), record: nil}

  .main-content
    .row
      .col-md-5
        .row
          .col-xs-12
            %h5.text-muted Name
            %h4= @shipment.name
            %hr
          - if @shipment.notes.present?
            .col-xs-12
              %h6.text-muted Notes
              %h5= @shipment.notes
          .col-xs-12
            %h6.text-muted Receiving Warehouse
            %h5= @shipment.receiving_warehouse&.name || "N/A"
          .col-xs-12
            %h6.text-muted Shipping Warehouse
            %h5= @shipment.shipping_warehouse&.name || "N/A"
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Custom ID
            %h5= @shipment.custom_uid
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Status
            %h5{class: "status-#{@shipment.status.parameterize}"}= @shipment.status
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Items (Unique)
            %h5= @shipment.packed_items.distinct.count(:item_id)
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Items (Instances)
            %h5= @shipment.packed_items.count
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Items (Quantity)
            %h5= @shipment.packed_items.pluck(:quantity).inject {|sum, quantity| sum + quantity }.to_i
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Items (Est. Weight)
            %h5 #{@shipment.packed_items.pluck(:weight).compact.inject {|sum, quantity| sum + quantity }.to_f.round(4)}kg
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Earliest Expiry
            %h5= @shipment.packed_items.pluck(:expiry_date).compact.min&.strftime("%Y-%m-%d") || "N/A"
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Latest Expiry
            %h5= @shipment.packed_items.pluck(:expiry_date).compact.max&.strftime("%Y-%m-%d") || "N/A"
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created By
            %h5= @shipment.user.name
          .col-xs-6.col-sm-4.col-md-6
            %h6.text-muted Created At
            %h5= @shipment.created_at.strftime("%Y-%m-%d")

      .col-md-7
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#containers"}
            %i.fa.fa-truck
            Containers in this Shipment
            %span.label{class: @shipment.containers.any? ? "label-success" : "label-warning"}= @shipment.containers.size

          - if @shipment.containers.any?
            #containers.collapse
              %table.table.table-striped.link-rows
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.containers.order(:custom_uid).reverse_order.each do |container|
                    %tr
                      %td
                        = link_to container_path(container) do
                          %p= container.custom_uid
                      %td
                        = link_to container_path(container) do
                          %p= container.name
                      %td
                        = link_to container_path(container) do
                          %p{class: "status-#{container.status.parameterize}"}= container.status
              .close-collapse{data: {toggle: "collapse"}, href: "#containers"}
                %span Close
          - else
            #containers.collapse.panel-body
              %h5.text-center No containers in this shipment.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            %i.fa.fa-pallet
            Pallets Assigned to Containers
            %span.label{class: @shipment.pallets.any? ? "label-success" : "label-warning"}= @shipment.pallets.size

          - if @shipment.pallets.any?
            #pallets.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "pallets"}
              = render partial: "pallets/micro_table", locals: {pallets: @shipment.pallets}
              .close-collapse{data: {toggle: "collapse"}, href: "#pallets"}
                %span Close
          - else
            #pallets.collapse.panel-body
              %h5.text-center No pallets assigned to containers.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallet_boxes"}
            %i.fa.fa-box-open
            Boxes Assigned to Pallets
            %span.label{class: @shipment.pallet_boxes.any? ? "label-success" : "label-warning"}= @shipment.pallet_boxes.size

          - if @shipment.pallet_boxes.any?
            #pallet_boxes.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "pallet-boxes"}
              = render partial: "boxes/micro_table", locals: {boxes: @shipment.pallet_boxes, table_id: "filter-pallet-boxes-table"}
              .close-collapse{data: {toggle: "collapse"}, href: "#pallet_boxes"}
                %span Close
          - else
            #pallet_boxes.collapse.panel-body
              %h5.text-center No boxes assigned to pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#container_boxes"}
            %i.fa.fa-box-open
            Boxes Assigned to Containers
            %span.label{class: @shipment.container_boxes.any? ? "label-success" : "label-warning"}= @shipment.container_boxes.size

          - if @shipment.container_boxes.any?
            #container_boxes.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by custom ID...", assoc: "container-boxes"}
              = render partial: "boxes/micro_table", locals: {boxes: @shipment.container_boxes, table_id: "filter-container-boxes-table"}
              .close-collapse{data: {toggle: "collapse"}, href: "#container_boxes"}
                %span Close
          - else
            #container_boxes.collapse.panel-body
              %h5.text-center No boxes assigned to containers.

        .panel.panel-default
          %a.panel-heading.collapsed{data: {toggle: "collapse"}, href: "#packed-items"}
            %i.fa.fa-stethoscope
            All Packed Items in this Shipment
            %span.label{class: @shipment.packed_items.any? ? "label-success" : "label-warning"}= @shipment.packed_items.size

          - if @shipment.packed_items.any?
            #packed-items.collapse
              = render partial: "layouts/table_quick_filter", locals: {placeholder: "Filter by name...", assoc: "packed-items"}
              = render partial: "packed_items/micro_table", locals: {packed_items: @shipment.packed_items}
              .close-collapse{data: {toggle: "collapse"}, href: "#packed-items"}
                %span Close
          - else
            #packed-items.collapse.panel-body
              %h5.text-center No packed items in this container.

  - if (can? :manage, PackedItem) && (@staged_items.any? || @staged_boxes.any? || @staged_pallets.any? || @warehoused_items.any? || @warehoused_boxes.any? || @warehoused_pallets.any?)
    = render "layouts/mass_action_add", display: %i[items boxes pallets]
