.content
  .header
    %h1.page-title= @shipment.name
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active= @shipment.name

    = add_button(new_container_path(shipment_id: @shipment.id), "Container", "fa-truck")

  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
      %li
        %a{data: {toggle: "tab"}, href: "#export"} Export

    .row
      .col-md-5
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            .row
              .col-xs-12
                %h5.text-muted Name
                %h4= @shipment.name
              - if @shipment.notes.present?
                .col-xs-12
                  %h5.text-muted Notes
                  %h4= @shipment.notes
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Receiving Warehouse
                %h4= @shipment.receiving_warehouse&.name || "N/A"
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Shipping Warehouse
                %h4= @shipment.shipping_warehouse&.name || "N/A"
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Custom ID
                %h4= @shipment.custom_uid
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Status
                %h4= @shipment.status
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Created By
                %h4= @shipment.user.name
              .col-lg-3.col-sm-4.col-xs-6
                %h5.text-muted Created At
                %h4= @shipment.created_at.strftime("%Y-%m-%d")

          #edit.tab-pane.fade
            = render partial: "form"

          #export.tab-pane.fade
            = render partial: "export"

      .col-md-7
        %br
        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#containers"}
            Containers in this Shipment
            %span.label{class: @shipment.containers.any? ? "label-success" : "label-warning"}= @shipment.containers.size
          - if @shipment.containers.any?
            #containers.collapse
              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody
                  - @shipment.containers.order(:custom_uid).reverse_order.each do |container|
                    %tr
                      %td= container.custom_uid
                      %td
                        = link_to container_path(container) do
                          = container.name
                      %td= container.status
              .close-collapse{data: {toggle: "collapse"}, href: "#containers"}
                %span Close
          - else
            #containers.collapse.panel-body
              %p No containers.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallets"}
            Pallets in Containers
            %span.label{class: @shipment.pallets.any? ? "label-success" : "label-warning"}= @shipment.pallets.size
          - if @shipment.pallets.any?
            #pallets.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter a pallet by ID...", assoc: "pallets"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-pallets-table
                  - @shipment.pallets.order(:custom_uid).reverse_order.each do |pallet|
                    %tr.filter-row
                      %td= pallet.custom_uid
                      %td
                        = link_to pallet_path(pallet) do
                          = pallet.name
                      %td= pallet.status
              .close-collapse{data: {toggle: "collapse"}, href: "#pallets"}
                %span Close
          - else
            #pallets.collapse.panel-body
              %p No pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#pallet_boxes"}
            Boxes Assigned to Pallets
            %span.label{class: @shipment.pallet_boxes.any? ? "label-success" : "label-warning"}= @shipment.pallet_boxes.size
          - if @shipment.pallet_boxes.any?
            #pallet_boxes.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter a box by ID...", assoc: "pallet-boxes"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-pallet-boxes-table
                  - @shipment.pallet_boxes.order(:custom_uid).reverse_order.each do |box|
                    %tr.filter-row
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
              .close-collapse{data: {toggle: "collapse"}, href: "#pallet_boxes"}
                %span Close
          - else
            #pallet_boxes.collapse.panel-body
              %p No boxes on pallets.

        .panel.panel-default
          %a.panel-heading{data: {toggle: "collapse"}, href: "#container_boxes"}
            Boxes Directly in Containers
            %span.label{class: @shipment.container_boxes.any? ? "label-success" : "label-warning"}= @shipment.container_boxes.size
          - if @shipment.container_boxes.any?
            #container_boxes.collapse
              = render partial: "layouts/quick_filter", locals: {placeholder: "Quick filter a box by ID...", assoc: "container-boxes"}

              %table.table.table-striped
                %thead
                  %tr
                    %th Custom ID
                    %th Name
                    %th Status
                %tbody#filter-container-boxes-table
                  - @shipment.container_boxes.order(:custom_uid).reverse_order.each do |box|
                    %tr.filter-row
                      %td= box.custom_uid
                      %td
                        = link_to box_path(box) do
                          = box.name
                      %td= box.status
              .close-collapse{data: {toggle: "collapse"}, href: "#container_boxes"}
                %span Close
          - else
            #container_boxes.collapse.panel-body
              %p No boxes directly in containers.
