%br
.col-12.center
  = back_button(index_path)
  = link_button("Add a Warehouse", new_warehouse_path)
.col-12.center
  %table
    %caption Warehouses
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} City
        %th{:scope => "col"} Country
        %th{:scope => "col"} Status
        %th{:scope => "col"}
    %tbody
      - @warehouses.each do |warehouse|
        %tr
          %td{"data-label" => "Name"}= warehouse.name
          %td{"data-label" => "City"}= warehouse.city
          %td{"data-label" => "Country"}= warehouse.country
          %td{"data-label" => "Status"}= warehouse.status
          %td{"data-label" => "Action"}
            = table_button("View", warehouse_path(warehouse))
