.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Warehouses
    = add_button(new_warehouse_path, "Warehouse", "fa-warehouse")
  .main-content
    %table.table.table-striped.table-hover.link-rows
      %thead
        %tr
          %th Name
          %th.hidden-xs City
          %th Country
          %th Status
      %tbody
        - @warehouses.each do |warehouse|
          %tr
            %td
              = link_to warehouse_path(warehouse) do
                %p= warehouse.name
            %td.hidden-xs
              = link_to warehouse_path(warehouse) do
                %p= warehouse.city
            %td
              = link_to warehouse_path(warehouse) do
                %p= warehouse.country
            %td
              = link_to warehouse_path(warehouse) do
                %p{class: warehouse.active? ? "text-success" : "text-danger"}= warehouse.status

    = paginate @warehouses
