.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li.active Warehouses
  .main-content
    .btn-toolbar.list-toolbar
      = link_button("New Warehouse", new_warehouse_path, "pull-left")
    %table.table
      %thead
        %tr
          %th Name
          %th City
          %th Country
          %th Status
      %tbody
        - @warehouses.each do |warehouse|
          %tr
            %td
              = link_to warehouse_path(warehouse) do
                = warehouse.name
            %td= warehouse.city
            %td= warehouse.country
            %td= warehouse.status

    = paginate @warehouses
