.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Warehouses", warehouses_path
      %li.active= @warehouse.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      .col-md-4
        %br
        #myTabContent.tab-content
          #view.tab-pane.active.in
            = render partial: "form", locals: { no_edit: true, delete: true }

          #edit.tab-pane.fade
            = render partial: "form", locals: { no_edit: false, delete: false }
