.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Warehouses", warehouses_path
      %li.active= @warehouse.name
  .main-content
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#view"} View
      %li
        %a{data: {toggle: "tab"}, href: "#edit"} Edit
    .row
      #myTabContent.tab-content
        #view.tab-pane.active.in
          %br
          .col-xs-12
            %h5.text-muted Name
            %h4= @warehouse.name
          - if @warehouse.description.present?
            .col-xs-12
              %h5.text-muted Description
              %h4= @warehouse.notes
          - unless @warehouse.full_address.blank?
            .col-xs-12
              %h5.text-muted Address
              %h4= @warehouse.full_address
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted In Progress Items Here
            %h4= @warehouse.in_progress_packed_items.count
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Complete Items Here
            %h4= @warehouse.complete_packed_items.count
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Received Items Here
            %h4= @warehouse.received_packed_items.count
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Created By
            %h4= @warehouse.user.name
          .col-lg-3.col-sm-4.col-xs-6
            %h5.text-muted Created At
            %h4= @warehouse.created_at.strftime("%Y-%m-%d")

        #edit.tab-pane.fade
          %br
          = render partial: "form"
