= render partial: "layouts/add_hospital_modal", locals: {redirect: box_box_items_path(@box)}
%button.btn.btn-primary.responsive-button{data: {target: "#unpack-all", toggle: "modal"}}
  %i.fa.fa-truck-loading
  %span.main-text Unpack All
.modal.fade{id: "unpack-all"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#unpackModalLabel.modal-title Unpack all items in #{@box.name}.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
      .modal-body#unpackModalBody.margin-top
        .row.mass-action-form
          - unless @box.received?
            .col-xs-12
              %i.fas.fa-exclamation-triangle.text-warning
              This box has not been received. Check its status.
          .col-xs-12
            %h5 Send #{@box.box_items.count} item(s) to the selected hospital/facility/clinic:

          = form_for @box, url: boxes_unpack_all_path(@box), method: :post do |f|
            .col-xs-12
              %label Hopsital/Facility/Clinic
              = select_tag("hospital_id", options_from_collection_for_select(Hospital.accessible_by(current_ability).order(:name), :id, :name), { include_blank: true, class: "form-control" })
              %label Unpacked On
              - today = DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d")
              = f.text_field :timestamp, value: today, placeholder: "YYYY-MM-DD", class: "form-control datepickers"
              %label Notes
              = text_field_tag :notes, nil, placeholder: "Explanation", class: "form-control"
              %h6
                %a{data: {target: "#add-hospital-modal", toggle: "modal"}, href: "", "data-dismiss" => "modal"} Don't see your hospital/facility/clinic? Add one.
            .col-xs-12
              = submit_button_responsive("Update", "pull-right")
