.navbar.navbar-default{role: "navigation"}
  .navbar-header
    - if current_user
      %button.navbar-toggle.collapsed{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    = link_to index_path do
      %span.navbar-brand
        KBNF Inventory

  - if current_user
    .navbar-collapse.collapse{style: "height: 1px;"}
      %ul#main-menu.nav.navbar-nav.navbar-right
        %li.dropdown.hidden-xs
          %a.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
            %i.fa.fa-user.padding-right-small
            = current_user.name
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li
              = link_to user_path(current_user) do
                My Account
            %li
              = link_to logout_path do
                Logout

- if current_user
  .sidebar-nav
    %ul
      %li.hidden-sm.hidden-md.hidden-lg
        %a.nav-header.collapsed{data: {target: ".user-menu", toggle: "collapse"}, href: "#"}
          %i.fa.fa-fw.fa-user
          =current_user.first_name
          %i.fa.fa-collapse
      %li.hidden-sm.hidden-md.hidden-lg
        %ul.user-menu.nav.nav-list.collapse
          %li
            = link_to user_path(current_user) do
              %span.fa.fa-caret-right
              My Account
          %li
            = link_to logout_path do
              %span.fa.fa-caret-right
              Log Out

      %li
        = link_to index_path, class: "nav-header" do
          %i.fa.fa-fw.fa-home
          Dashboard

      - unless current_user.volunteer?
        %li
          %a.nav-header.collapsed{data: {target: ".dashboard-menu", toggle: "collapse"}, href: "#"}
            %i.fa.fa-fw.fa-tachometer-alt
            Admin
            %i.fa.fa-collapse

        %li
          %ul.dashboard-menu.nav.nav-list.collapse
            - if can? :manage, Category
              %li
                = link_to categories_path do
                  %span.fa.fa-file-medical
                  &nbsp; Categories
            - if can? :manage, Item
              %li
                = link_to items_path do
                  %span.fa.fa-stethoscope
                  &nbsp;Items
            - if can? :manage, Warehouse
              %li
                = link_to warehouses_path do
                  %span.fa.fa-warehouse
                  Warehouses
            - if can? :manage, User
              %li
                = link_to users_path do
                  %span.fa.fa-users
                  Users

      - if can? :manage, Item
        %li
          %a.nav-header.collapsed{data: {target: ".reconcile-menu", toggle: "collapse"}, href: "#"}
            %i.fa.fa-fw.fa-compress-alt
            Reconciliation
            %i.fa.fa-collapse
        %li
          %ul.reconcile-menu.nav.nav-list.collapse
            %li
              = link_to reconcile_unverified_path do
                %span.fa.fa-star
                Unverified Items
            %li
              = link_to reconcile_uncategorized_path do
                %span.fa.fa-file-medical
                &nbsp;Uncategorized
            %li
              = link_to reconcile_flagged_path do
                %span.fa.fa-flag
                User-flagged
      - if can? :read, Shipment
        %li
          %a.nav-header.collapsed{data: {target: ".shipments-menu", toggle: "collapse"}, href: "#"}
            %i.fa.fa-fw.fa-ship
            Shipments
            %i.fa.fa-collapse
        %li
          %ul.shipments-menu.nav.nav-list.collapse
            %li
              = link_to shipments_path do
                %span.fa.fa-th-list
                All
            - if can? :create, Shipment
              %li
                = link_to new_shipment_path do
                  %span.fa.fa-star
                  New
      - if can? :read, Container
        %li
          %a.nav-header.collapsed{data: {target: ".containers-menu", toggle: "collapse"}, href: "#"}
            %i.fa.fa-fw.fa-truck
            Containers
            %i.fa.fa-collapse
        %li
          %ul.containers-menu.nav.nav-list.collapse
            %li
              = link_to containers_path do
                %span.fa.fa-th-list
                All
            - unless current_user.receiving_manager?
              %li
                = link_to containers_path(display: :unassigned) do
                  %span.fa.fa-th-list
                  Unassigned
            - if can? :create, Container
              %li
                = link_to new_container_path do
                  %span.fa.fa-star
                  New

      %li
        %a.nav-header.collapsed{data: {target: ".pallets-menu", toggle: "collapse"}, href: "#"}
          %i.fa.fa-fw.fa-pallet
          Pallets
          %i.fa.fa-collapse
      %li
        %ul.pallets-menu.nav.nav-list.collapse
          %li
            = link_to pallets_path do
              %span.fa.fa-th-list
              All
          - unless current_user.receiving_manager?
            %li
              = link_to pallets_path(display: :unassigned) do
                %span.fa.fa-th-list
                Unassigned
          - if can? :create, Pallet
            %li
              = link_to new_pallet_path do
                %span.fa.fa-star
                New

      %li
        %a.nav-header.collapsed{data: {target: ".box-menu", toggle: "collapse"}, href: "#"}
          %i.fa.fa-fw.fa-box-open
          Boxes
          %i.fa.fa-collapse
      %li
        %ul.box-menu.nav.nav-list.collapse
          %li
            = link_to boxes_path do
              %span.fa.fa-th-list
              All
          - unless current_user.receiving_manager?
            %li
              = link_to boxes_path(display: :unassigned) do
                %span.fa.fa-th-list
                Unassigned
          - if can? :create, Box
            %li
              = link_to new_box_path do
                %span.fa.fa-star
                New

      %li
        = link_to my_activity_path, class: "nav-header" do
          %i.fa.fa-fw.fa-history
          My Activity

      %li
        %a.nav-header.collapsed{data: {target: ".about-menu", toggle: "collapse"}, href: "#"}
          %i.fa.fa-fw.fa-info
          About
          %i.fa.fa-collapse
      %li
        %ul.about-menu.nav.nav-list.collapse
          %li
            = link_to dev_updates_path do
              %span.fa.fa-code
              Developer Updates
          %li
            = link_to admin_help_path do
              %span.fa.fa-question
              &nbsp; Help
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to "mailto:jesse@kbnf.org?subject=I%20Found%20a%20Bug%21&body=Please%20reply%20with%20your%20browser%2C%20URL%20and%20name%2E", {target: "_blank",rel: "noopener noreferrer" } do
              %span.fa.fa-bug
              &nbsp;Report a Bug
          %li
            = link_to privacy_path do
              %span.fa.fa-user-shield
              Privacy
          %li
            = link_to terms_path do
              %span.fa.fa-balance-scale
              Terms
