%button.btn.btn-primary.responsive-button{data: {target: "#jump-to-modal", toggle: "modal"}}
  %i.fa.fa-search-location
  %span.main-text Jump To&nbsp;
  %i.fa.fa-bolt
.modal.fade{id: "jump-to-modal"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#assignmentModalLabel.modal-title Jump To...
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
      .modal-body#assignmentModalBody.margin-top
        .row.jump-to-body
          .col-xs-12
            %h5 Enter the custom ID of the resource, jump to its info or item page. You can also quick search for an item or jump to the latest shipment.
          .col-xs-12
            = form_for :box, url: find_box_path, html: {class: "inline-search-form" } do |f|
              = hidden_field_tag :redirect, request.fullpath
              = f.number_field :custom_uid, {placeholder: "Custom ID"}
              = submit_button_value(["fa-box-open", "fa-arrow-right"], "info")
              = submit_button_value(["fa-box-open", "fa-stethoscope", "fa-arrow-right"], "items")
          .col-xs-12
            = form_for :pallet, url: find_pallet_path, html: {class: "inline-search-form" } do |f|
              = hidden_field_tag :redirect, request.fullpath
              = f.number_field :custom_uid, {placeholder: "Custom ID"}
              = submit_button_value(["fa-pallet", "fa-arrow-right"], "info")
              = submit_button_value(["fa-pallet", "fa-stethoscope", "fa-arrow-right"], "items")
          - unless current_user.receiving_manager?
            .col-xs-12
              = form_with url: items_path, method: :get, html: {class: "inline-search-form text-field" } do |f|
                = f.text_field :search_string, {placeholder: "Item Search"}
                = submit_button_value(["fa-search", "fa-stethoscope", "fa-arrow-right"], "")
            .col-xs-12.padding-top
              - path = container_path(Container.order(:created_at).last)
              = link_button("Latest Container", path)
            .col-xs-12.padding-top
              - path = shipment_path(Shipment.order(:created_at).last)
              = link_button("Latest Shipment", path)
