= render partial: "layouts/add_hospital_modal", locals: {redirect: pallet_pallet_items_path(@pallet)}
%button.btn.btn-primary.responsive-button{data: {target: "#unpack-all", toggle: "modal"}}
  %i.fa.fa-truck-loading
  %span.main-text Unpack All
.modal.fade{id: "unpack-all"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#unpackModalLabel.modal-title Unpack all items in #{@pallet.name}.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}  ×
      .modal-body#unpackModalBody.margin-top
        .row.mass-action-form
          .col-xs-12
            %h5 Send #{@pallet.pallet_items.count} item(s) to the selected hospital/clinic:

          = form_for @pallet, url: pallets_unpack_all_path(@pallet), method: :post do |f|
            .col-xs-12
              %label Hopsital/Clinic
              = select_tag("hospital_id", options_from_collection_for_select(Hospital.accessible_by(current_ability).order(:name), :id, :name), { include_blank: true, class: "form-control" })
              %label Notes
              = text_field_tag :notes, nil, placeholder: "Explanation", class: "form-control"
              %h6
                %a{data: {target: "#add-hospital-modal", toggle: "modal"}, href: "", "data-dismiss" => "modal"} Don't see your clinic or hospital? Add one.
            .col-xs-12
              = submit_button_responsive("Update", "pull-right")
